USE [PBBPACQ01]
GO
/****** Object:  Table [AcqChangeGear].[VCG_ServiceRequest_Grid_View]    Script Date: 12/5/2023 4:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AcqChangeGear].[VCG_ServiceRequest_Grid_View](
	[VIP] [bit] NULL,
	[ClosedDateTime] [datetime] NULL,
	[STATUS] [nvarchar](25) NULL,
	[Workflow] [nvarchar](256) NULL,
	[BusinessHoursToApply] [nvarchar](100) NULL,
	[Sentiment] [int] NULL,
	[ActiveTaskOrder] [int] NULL,
	[EmailThreadID] [nvarchar](100) NULL,
	[EmailToHeader] [nvarchar](1024) NULL,
	[EmailCcRecipients] [nvarchar](1024) NULL,
	[EmailToRecipients] [nvarchar](1024) NULL,
	[InboundEmailAlias] [nvarchar](256) NULL,
	[ItemSentiment] [float] NULL,
	[ItemSentimentDiff] [float] NULL,
	[SentimentTrend] [int] NULL,
	[LastSentimentCalcTime] [datetime] NULL,
	[SuggestionConfidence] [float] NULL,
	[EstimatedEffort] [float] NULL,
	[ExternalItemID] [nvarchar](25) NULL,
	[ExternalItemUrl] [nvarchar](1024) NULL,
	[ExternalItemIDWithPrefix] [nvarchar](1024) NULL,
	[ExternalProjectRefID] [int] NULL,
	[ExternalToolRefID] [int] NULL,
	[ExternalToolType] [int] NULL,
	[IsFulfillmentTicket] [bit] NULL,
	[Override] [bit] NULL,
	[MarkedForChangeWindowViolation] [bit] NULL,
	[MarkedForBlackoutPeriodViolation] [bit] NULL,
	[ConductorTicket] [bit] NULL,
	[AssociatedFeature] [nvarchar](100) NULL,
	[Keywords] [nvarchar](max) NULL,
	[Initiator] [nvarchar](25) NULL,
	[Approved] [bit] NULL,
	[CurrentApprovalSequence] [int] NULL,
	[LastApprovalSequence] [int] NULL,
	[AllInSequenceMustApprove] [bit] NULL,
	[ApprovalPhaseName] [nvarchar](100) NULL,
	[ModifiedApprovalPhases] [nvarchar](100) NULL,
	[CurrentState] [nvarchar](100) NULL,
	[LastModifiedBy] [int] NULL,
	[LastAccessedBy] [int] NULL,
	[InstanceOperations] [numeric](20, 0) NULL,
	[Creator] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastModifiedDateTime] [datetime] NULL,
	[EditorLayout] [nvarchar](256) NULL,
	[OwningOrganization] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[AttachmentCount] [int] NULL,
	[OwningTeam] [int] NULL,
	[SLA] [int] NULL,
	[SLAStage] [nvarchar](100) NULL,
	[SLAHiddenStage] [nvarchar](100) NULL,
	[SLADeadline] [float] NULL,
	[IsInBusinessTime] [bit] NULL,
	[SLAExceeded] [bit] NULL,
	[AccessLevel] [int] NULL,
	[AccessLocation] [int] NULL,
	[TicketID] [nvarchar](100) NULL,
	[TotalCost] [money] NULL,
	[TotalTime] [float] NULL,
	[TrainingLevel] [int] NULL,
	[Urgency] [int] NULL,
	[UsersImpactedPIT] [int] NULL,
	[ParentServiceItem] [int] NULL,
	[PhonePIT] [nvarchar](256) NULL,
	[Position] [nvarchar](256) NULL,
	[Priority] [int] NULL,
	[ProgramType] [int] NULL,
	[QAOwner] [int] NULL,
	[QAOwnerModified] [bit] NULL,
	[DueDate] [datetime] NULL,
	[EmailPIT] [nvarchar](256) NULL,
	[EmployeeName] [nvarchar](256) NULL,
	[EmployeeMoveType] [int] NULL,
	[EmployeeType] [nvarchar](256) NULL,
	[EndDate] [datetime] NULL,
	[Facility] [int] NULL,
	[HardwareType] [int] NULL,
	[Requester] [int] NULL,
	[ResourceCost] [money] NULL,
	[ServiceRequestType] [int] NULL,
	[ServiceRequestTypeFullPathPIT] [nvarchar](256) NULL,
	[ServiceRequestTypeRoot] [int] NULL,
	[Software] [int] NULL,
	[StartDate] [datetime] NULL,
	[Impact] [int] NULL,
	[ImpactedBusinessServicesPIT] [nvarchar](4000) NULL,
	[ImpactedResourcesPIT] [nvarchar](1000) NULL,
	[ImpactedUsersAndGroupsPIT] [nvarchar](1000) NULL,
	[Summary] [nvarchar](256) NULL,
	[SystemUsed] [int] NULL,
	[Domain] [int] NULL,
	[ActualCompleteDate] [datetime] NULL,
	[ActualDuration] [float] NULL,
	[ActualEffort] [float] NULL,
	[ActualStartDate] [datetime] NULL,
	[AssignedTo] [int] NULL,
	[CloseTypes] [int] NULL,
	[Communication] [int] NULL,
	[CourseCost] [money] NULL,
	[CourseEndDate] [datetime] NULL,
	[CourseName] [nvarchar](256) NULL,
	[CourseStartDate] [datetime] NULL,
	[CurrentCubeOffice] [nvarchar](256) NULL,
	[CurrentLocation] [int] NULL,
	[CurrentPhoneExt] [nvarchar](256) NULL,
	[Department] [int] NULL,
	[DepartmentFullPathPIT] [nvarchar](256) NULL,
	[DepartmentNamePIT] [nvarchar](256) NULL,
	[DeploymentOwner] [int] NULL,
	[DeploymentOwnerModified] [bit] NULL,
	[AssignedToOwnerModified] [bit] NULL,
	[BusinessTimeToAccept] [float] NULL,
	[BusinessTimeToResolve] [float] NULL,
	[ItemOwner] [int] NULL,
	[LaborCost] [money] NULL,
	[LocationFullPathPIT] [nvarchar](256) NULL,
	[LocationNamePIT] [nvarchar](256) NULL,
	[LocationPIT] [int] NULL,
	[NewCubeOffice] [nvarchar](256) NULL,
	[NewLocation] [int] NULL,
	[NewPhoneExt] [nvarchar](256) NULL,
	[OS] [int] NULL,
	[CartOrder] [int] NULL,
	[UDF_FieldName1] [nvarchar](max) NULL,
	[UDF_SRChangeType] [int] NULL,
	[UDF_Market2] [int] NULL,
	[UDF_AssignedStaticIP] [nvarchar](max) NULL,
	[UDF_RequestersTeam2] [int] NULL,
	[UDF_ServiceOrderType] [int] NULL,
	[UDF_CSCustomerName] [nvarchar](max) NULL,
	[UDF_ALOCStreet] [nvarchar](max) NULL,
	[UDF_ALOCCity] [nvarchar](max) NULL,
	[UDF_ALOCZIP] [int] NULL,
	[UDF_ALOCPOC] [nvarchar](max) NULL,
	[UDF_ZLOCStreet] [nvarchar](max) NULL,
	[UDF_ALOCState] [int] NULL,
	[UDF_ZLOCState] [int] NULL,
	[UDF_ZLOCZIP] [int] NULL,
	[UDF_ALOCCity2] [int] NULL,
	[UDF_ZLOCCity2] [int] NULL,
	[UDF_ALOCHandoff] [int] NULL,
	[UDF_ZLOCHandoff] [int] NULL,
	[UDF_ALOCConnector] [int] NULL,
	[UDF_ZLOCConnector] [int] NULL,
	[UDF_ALOCPower] [int] NULL,
	[UDF_ZLOCPower] [int] NULL,
	[UDF_ALOCTransMode] [int] NULL,
	[UDF_ZLOCTransMode] [int] NULL,
	[UDF_ALOCDemarcExt] [int] NULL,
	[UDF_ZLOCDemarcExt] [int] NULL,
	[UDF_ALOCLOA] [int] NULL,
	[UDF_ZLOCLOA] [int] NULL,
	[UDF_ZLOCPOC] [nvarchar](max) NULL,
	[UDF_DataSpeeds] [int] NULL,
	[UDF_DataServicesReq] [int] NULL,
	[UDF_HostedVoice] [int] NULL,
	[UDF_ALOCPOCCELL] [nvarchar](max) NULL,
	[UDF_ZLOCPOCTN] [nvarchar](max) NULL,
	[UDF_OMNIACCOUNTNO] [nvarchar](max) NULL,
	[UDF_OMNI360ACCOUNTNO] [nvarchar](max) NULL,
	[UDF_CustNameInfoIP] [nvarchar](4000) NULL,
	[UDF_HOSTEDVOIPQTY] [nvarchar](max) NULL,
	[UDF_CONTRACTTERM] [int] NULL,
	[UDF_POINTFOCDATE] [nvarchar](max) NULL,
	[UDF_POINTFOCDATE1] [datetime] NULL,
	[UDF_NRC] [money] NULL,
	[UDF_MRC2] [money] NULL,
	[UDF_PBBCIRID] [nvarchar](max) NULL,
	[UDF_salesupdate] [nvarchar](max) NULL,
	[UDF_CustomerPremiseTesting] [nvarchar](max) NULL,
	[UDF_SpeedTestResults] [nvarchar](max) NULL,
	[UDF_CabinetTest] [nvarchar](max) NULL,
	[UDF_SplitterBlockTest] [nvarchar](max) NULL,
	[UDF_SpeedTest1] [nvarchar](max) NULL,
	[UDF_SpeedTest2] [nvarchar](max) NULL,
	[UDF_SplitterBlockTest2] [nvarchar](max) NULL,
	[UDF_PON] [nvarchar](max) NULL,
	[UDF_PON2] [nvarchar](max) NULL,
	[UDF_PON3] [nvarchar](max) NULL,
	[UDF_CabinetNumber] [nvarchar](max) NULL,
	[UDF_CabinetNumber2] [nvarchar](max) NULL,
	[UDF_CustNumber] [nvarchar](max) NULL,
	[UDF_CustName] [nvarchar](max) NULL,
	[UDF_CabSwitchPON] [nvarchar](max) NULL,
	[UDF_PortONTNumber] [nvarchar](max) NULL,
	[UDF_SerialNumber] [nvarchar](max) NULL,
	[UDF_ServicePackage] [nvarchar](max) NULL,
	[UDF_TechnologyType] [int] NULL,
	[UDF_QuoteCost] [nvarchar](max) NULL,
	[UDF_EstimatedDelivery] [nvarchar](max) NULL,
	[UDF_CabinetType] [int] NULL,
	[UDF_CustEmail] [nvarchar](max) NULL,
	[UDF_CNR] [nvarchar](max) NULL,
	[UDF_CNR2] [int] NULL,
	[UDF_AgeOfTicketSR] [money] NULL,
	[UDF_FinalCabinet] [int] NULL,
	[UDF_NewMarketName] [nvarchar](max) NULL,
	[UDF_NewMarketHQ] [nvarchar](max) NULL,
	[UDF_MarketNetworkTypes] [nvarchar](max) NULL,
	[UDF_ServicesOffered] [nvarchar](max) NULL,
	[UDF_CabinetAddress] [nvarchar](max) NULL,
	[UDF_HomesPassed] [nvarchar](max) NULL,
	[UDF_ProjectNumber] [nvarchar](max) NULL,
	[UDF_LatAndLong] [int] NULL,
	[UDF_LatLong] [nvarchar](max) NULL,
	[UDF_ResponsibleParty] [nvarchar](max) NULL,
	[UDF_PBBNetworkType] [int] NULL,
	[UDF_CabinetID] [nvarchar](max) NULL,
	[UDF_BillType] [int] NULL,
	[UDF_Rewire] [int] NULL,
	[UDF_WiringType] [int] NULL,
	[UDF_ESTConstructionCompleteDate] [datetime] NULL,
	[UDF_NumberofBuildings] [nvarchar](max) NULL,
	[UDF_WiringDmarkQty] [int] NULL,
	[UDF_SoftwareMulti] [nvarchar](500) NULL,
	[UDF_SoftwareMultiPIT] [nvarchar](500) NULL,
	[UDF_HardwareMulti] [nvarchar](500) NULL,
	[UDF_HardwareMultiPIT] [nvarchar](500) NULL,
	[UDF_SystemMulti] [nvarchar](500) NULL,
	[UDF_SystemMultiPIT] [nvarchar](500) NULL,
	[UDF_HHPs] [int] NULL,
	[UDF_TimeAllocated] [nvarchar](max) NULL,
	[UDF_TimeSpanTest] [float] NULL,
	[UDF_ITReasonCode] [int] NULL,
	[OID] [int] NOT NULL,
	[LastModifiedByName] [nvarchar](101) NULL,
	[LastAccessedByName] [nvarchar](101) NULL,
	[CreatorName] [nvarchar](101) NULL,
	[OwningOrganizationName] [nvarchar](256) NULL,
	[OwningTeamName] [nvarchar](256) NULL,
	[SLAName] [nvarchar](256) NULL,
	[AccessLevelName] [nvarchar](256) NULL,
	[AccessLocationName] [nvarchar](256) NULL,
	[TrainingLevelName] [nvarchar](256) NULL,
	[UrgencyName] [nvarchar](256) NULL,
	[ParentSIName] [nvarchar](256) NULL,
	[PriorityName] [nvarchar](256) NULL,
	[ProgramTypeName] [nvarchar](256) NULL,
	[QAOwnerName] [nvarchar](256) NULL,
	[EmployeeMoveTypeName] [nvarchar](256) NULL,
	[FacilityName] [nvarchar](256) NULL,
	[HardwareTypeName] [nvarchar](256) NULL,
	[RequesterEmail] [nvarchar](50) NULL,
	[RequesterPhone] [nvarchar](30) NULL,
	[RequesterName] [nvarchar](101) NULL,
	[RequestersManagerName] [nvarchar](101) NULL,
	[ServiceRequestTypeRootName] [nvarchar](256) NULL,
	[ServiceRequestTypeName] [nvarchar](256) NULL,
	[FullServiceRequestType] [nvarchar](1024) NULL,
	[SoftwareName] [nvarchar](256) NULL,
	[ImpactName] [nvarchar](256) NULL,
	[SystemUsedName] [nvarchar](256) NULL,
	[DomainName] [nvarchar](256) NULL,
	[AssignedToFullName] [nvarchar](256) NULL,
	[AssigneesManagerName] [nvarchar](101) NULL,
	[CloseType] [nvarchar](256) NULL,
	[CommunicationName] [nvarchar](256) NULL,
	[DeploymentOwnerName] [nvarchar](256) NULL,
	[ItemOwnerName] [nvarchar](256) NULL,
	[OSName] [nvarchar](256) NULL,
	[BillingInformation] [nvarchar](max) NULL,
	[OrderInfoH] [nvarchar](max) NULL,
	[BillingCode] [nvarchar](max) NULL,
	[ShippingAddress] [nvarchar](max) NULL,
	[OrderNo] [nvarchar](100) NULL,
	[OrderNotes] [nvarchar](max) NULL,
	[TotalCartPrice] [money] NULL,
	[SRChangeTypeName] [nvarchar](256) NULL,
	[Market2Name] [nvarchar](256) NULL,
	[RequestersTeam2FullName] [nvarchar](256) NULL,
	[ServiceOrderTypeName] [nvarchar](256) NULL,
	[ALOCStateName] [nvarchar](256) NULL,
	[ZLOCStateName] [nvarchar](256) NULL,
	[ALOCCity2Name] [nvarchar](256) NULL,
	[ZLOCCity2Name] [nvarchar](256) NULL,
	[ALOCHandoffName] [nvarchar](256) NULL,
	[ZLOCHandoffName] [nvarchar](256) NULL,
	[ALOCConnectorName] [nvarchar](256) NULL,
	[ZLOCConnectorName] [nvarchar](256) NULL,
	[ALOCPowerName] [nvarchar](256) NULL,
	[ZLOCPowerName] [nvarchar](256) NULL,
	[ALOCTransModeName] [nvarchar](256) NULL,
	[ZLOCTransModeName] [nvarchar](256) NULL,
	[ALOCDemarcExtName] [nvarchar](256) NULL,
	[ZLOCDemarcExtName] [nvarchar](256) NULL,
	[ALOCLOAName] [nvarchar](256) NULL,
	[ZLOCLOAName] [nvarchar](256) NULL,
	[DataSpeedsName] [nvarchar](256) NULL,
	[DataServicesReqName] [nvarchar](256) NULL,
	[HostedVoiceName] [nvarchar](256) NULL,
	[TechnologyTypeName] [nvarchar](256) NULL,
	[CabinetTypeName] [nvarchar](256) NULL,
	[CNR2Name] [nvarchar](256) NULL,
	[FinalCabinetName] [nvarchar](256) NULL,
	[UDF_RepairCost] [nvarchar](max) NULL,
	[PBBNetworkTypeName] [nvarchar](256) NULL,
	[BillTypeName] [nvarchar](256) NULL,
	[RewireName] [nvarchar](256) NULL,
	[WiringTypeName] [nvarchar](256) NULL,
	[ITReasonCodeName] [nvarchar](256) NULL,
	[ItemID] [nvarchar](100) NULL,
	[OptimisticLockValue] [int] NULL,
	[IsDeleted] [bit] NULL,
	[GCRecord] [int] NULL,
	[MetaRowKey] [bit] NULL,
	[MetaRowKeyFields] [varchar](3) NOT NULL,
	[MetaRowHash] [varchar](3) NOT NULL,
	[MetaSourceSystemCode] [varchar](10) NOT NULL,
	[MetaInsertDatetime] [datetime] NOT NULL,
	[MetaUpdateDatetime] [datetime] NOT NULL,
	[MetaEffectiveStartDatetime] [varchar](10) NOT NULL,
	[MetaEffectiveEndDatetime] [varchar](10) NOT NULL,
	[MetaCurrentRecordIndicator] [int] NOT NULL,
	[MetaOperationCode] [varchar](1) NOT NULL,
	[MetaDataQualityStatusId] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
