USE [PBBPACQ01]
GO
/****** Object:  Table [AcqChangeGear].[VCG_RFC]    Script Date: 12/5/2023 4:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AcqChangeGear].[VCG_RFC](
	[OID] [int] NOT NULL,
	[RFC ID] [nvarchar](100) NULL,
	[Summary] [nvarchar](256) NULL,
	[Description] [nvarchar](max) NULL,
	[Change Type] [nvarchar](256) NULL,
	[Priority] [nvarchar](256) NULL,
	[Category] [nvarchar](256) NULL,
	[Impact] [nvarchar](256) NULL,
	[Status] [nvarchar](25) NULL,
	[Required By] [datetime] NULL,
	[Planned Start] [datetime] NULL,
	[Planned Complete] [datetime] NULL,
	[Planned Duration] [float] NULL,
	[Planned Effort] [float] NULL,
	[Start] [datetime] NULL,
	[Complete] [datetime] NULL,
	[Duration] [float] NULL,
	[Effort] [float] NULL,
	[Close Type] [nvarchar](256) NULL,
	[Resource Cost] [money] NULL,
	[Labor Cost] [money] NULL,
	[Total Cost] [money] NULL,
	[Users Impacted] [int] NULL,
	[Creator] [nvarchar](101) NULL,
	[Requester] [nvarchar](101) NULL,
	[Requesters Manager] [nvarchar](101) NULL,
	[Assignee] [nvarchar](101) NULL,
	[Assignees Manager] [nvarchar](101) NULL,
	[Modified By] [nvarchar](101) NULL,
	[Accessed By] [nvarchar](101) NULL,
	[QA Owner] [nvarchar](101) NULL,
	[Deployment Owner] [nvarchar](101) NULL,
	[PossibleSideEffects] [nvarchar](max) NULL,
	[Risk] [nvarchar](256) NULL,
	[IfNotImplementedComment] [nvarchar](512) NULL,
	[TestingRequired] [bit] NULL,
	[RollbackPlanRequired] [bit] NULL,
	[PlanningRequired] [bit] NULL,
	[UserTrainingRequired] [bit] NULL,
	[OriginatedFrom] [nvarchar](256) NULL,
	[OriginID] [nvarchar](256) NULL,
	[OriginNotes] [nvarchar](256) NULL,
	[AlternativeSolutions] [nvarchar](1024) NULL,
	[DepartmentNamePIT] [nvarchar](256) NULL,
	[LocationNamePIT] [nvarchar](256) NULL,
	[ImplPlanRequired] [bit] NULL,
	[CreatedDateTime] [datetime] NULL,
	[FullPath] [nvarchar](1024) NULL,
	[QA Comments] [nvarchar](1024) NULL,
	[Release Comments] [nvarchar](1024) NULL,
	[RootChangeType] [nvarchar](1024) NULL,
	[MetaRowKey] [varchar](100) NOT NULL,
	[MetaRowKeyFields] [varchar](100) NOT NULL,
	[MetaRowHash] [varchar](50) NOT NULL,
	[MetaSourceSystemCode] [varchar](50) NOT NULL,
	[MetaInsertDatetime] [date] NOT NULL,
	[MetaUpdateDatetime] [date] NOT NULL,
	[MetaEffectiveStartDatetime] [date] NOT NULL,
	[MetaEffectiveEndDatetime] [date] NOT NULL,
	[MetaCurrentRecordIndicator] [char](1) NOT NULL,
	[MetaOperationCode] [char](1) NOT NULL,
	[MetaDataQualityStatusId] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
