USE [PBBPACQ01]
GO
/****** Object:  Table [AcqChangeGear].[VCG_IncidentRequest_Grid_View]    Script Date: 12/5/2023 4:33:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AcqChangeGear].[VCG_IncidentRequest_Grid_View](
	[DueDate] [datetime] NULL,
	[ItemID] [nvarchar](256) NULL,
	[AssignedTo] [int] NULL,
	[Requester] [int] NULL,
	[Summary] [nvarchar](256) NULL,
	[BusinessTimeToAccept] [float] NULL,
	[BusinessTimeToResolve] [float] NULL,
	[ItemOwner] [int] NULL,
	[ImpactedResourcesPIT] [nvarchar](1000) NULL,
	[ImpactedUsersAndGroupsPIT] [nvarchar](1000) NULL,
	[ImpactedBusinessServicesPIT] [nvarchar](4000) NULL,
	[ParentServiceItem] [int] NULL,
	[VIP] [bit] NULL,
	[ClosedDateTime] [datetime] NULL,
	[Status] [nvarchar](25) NULL,
	[Workflow] [nvarchar](256) NULL,
	[BusinessHoursToApply] [nvarchar](100) NULL,
	[Sentiment] [int] NULL,
	[ActiveTaskOrder] [int] NULL,
	[EmailThreadID] [nvarchar](100) NULL,
	[EmailToHeader] [nvarchar](1024) NULL,
	[EmailCcRecipients] [nvarchar](1024) NULL,
	[EmailToRecipients] [nvarchar](1024) NULL,
	[InboundEmailAlias] [nvarchar](256) NULL,
	[ItemSentiment] [float] NULL,
	[ItemSentimentDiff] [float] NULL,
	[SentimentTrend] [int] NULL,
	[LastSentimentCalcTime] [datetime] NULL,
	[SuggestionConfidence] [float] NULL,
	[EstimatedEffort] [float] NULL,
	[ExternalItemID] [nvarchar](25) NULL,
	[ExternalItemUrl] [nvarchar](1024) NULL,
	[ExternalItemIDWithPrefix] [nvarchar](1024) NULL,
	[ExternalProjectRefID] [int] NULL,
	[ExternalToolRefID] [int] NULL,
	[ExternalToolType] [int] NULL,
	[IsFulfillmentTicket] [bit] NULL,
	[Override] [bit] NULL,
	[MarkedForChangeWindowViolation] [bit] NULL,
	[MarkedForBlackoutPeriodViolation] [bit] NULL,
	[ConductorTicket] [bit] NULL,
	[AssociatedFeature] [nvarchar](100) NULL,
	[Keywords] [nvarchar](max) NULL,
	[Initiator] [nvarchar](25) NULL,
	[Approved] [bit] NULL,
	[CurrentApprovalSequence] [int] NULL,
	[LastApprovalSequence] [int] NULL,
	[AllInSequenceMustApprove] [bit] NULL,
	[ApprovalPhaseName] [nvarchar](100) NULL,
	[ModifiedApprovalPhases] [nvarchar](100) NULL,
	[CurrentState] [nvarchar](100) NULL,
	[LastModifiedBy] [int] NULL,
	[LastAccessedBy] [int] NULL,
	[InstanceOperations] [numeric](20, 0) NULL,
	[Creator] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[LastModifiedDateTime] [datetime] NULL,
	[EditorLayout] [nvarchar](256) NULL,
	[OwningOrganization] [int] NULL,
	[SubmitDate] [datetime] NULL,
	[AttachmentCount] [int] NULL,
	[OwningTeam] [int] NULL,
	[SLA] [int] NULL,
	[SLAStage] [nvarchar](100) NULL,
	[SLAHiddenStage] [nvarchar](100) NULL,
	[SLADeadline] [float] NULL,
	[IsInBusinessTime] [bit] NULL,
	[SLAExceeded] [bit] NULL,
	[CloseType] [int] NULL,
	[CompletedDate] [datetime] NULL,
	[Cost] [money] NULL,
	[Department] [int] NULL,
	[DepartmentNamePIT] [nvarchar](256) NULL,
	[IncidentRequestType] [int] NULL,
	[IncidentRequestTypeFullPathPIT] [nvarchar](256) NULL,
	[Impact] [int] NULL,
	[Level] [int] NULL,
	[Origin] [int] NULL,
	[Resolution] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
	[EmailPIT] [nvarchar](256) NULL,
	[PhonePIT] [nvarchar](256) NULL,
	[LocationPIT] [int] NULL,
	[LocationNamePIT] [nvarchar](256) NULL,
	[TotalTime] [float] NULL,
	[Urgency] [int] NULL,
	[Priority] [int] NULL,
	[Category] [int] NULL,
	[StartedDateTime] [datetime] NULL,
	[ActualStartDate] [datetime] NULL,
	[ActualCompleteDate] [datetime] NULL,
	[ActualDuration] [float] NULL,
	[ActualEffort] [float] NULL,
	[LaborCost] [money] NULL,
	[ResourceCost] [money] NULL,
	[SLAExceededPrediction] [bit] NULL,
	[CallerNumber] [nvarchar](256) NULL,
	[CallerName] [nvarchar](100) NULL,
	[CallTime] [datetime] NULL,
	[UDF_MyNewField] [nvarchar](max) NULL,
	[UDF_Newdecimal] [money] NULL,
	[UDF_AffectedServices] [int] NULL,
	[UDF_AffectedServices2] [nvarchar](max) NULL,
	[UDF_AffectedServices2PIT] [nvarchar](max) NULL,
	[UDF_StatusCode2] [int] NULL,
	[UDF_PBBDescription] [nvarchar](1000) NULL,
	[UDF_AreaAffected] [nvarchar](max) NULL,
	[UDF_KCACustomersAffected] [nvarchar](max) NULL,
	[UDF_ServicesAffcted] [nvarchar](max) NULL,
	[UDF_ServicesAffctedPIT] [nvarchar](max) NULL,
	[UDF_Estimatedaffected] [int] NULL,
	[UDF_IssueBegan] [datetime] NULL,
	[UDF_Stepstaken] [nvarchar](max) NULL,
	[UDF_FixAgent] [int] NULL,
	[UDF_KeyAccount] [int] NULL,
	[UDF_SeverityLevel] [int] NULL,
	[UDF_ServiceImpact] [int] NULL,
	[UDF_CustomerAffecting] [int] NULL,
	[UDF_IncidentChangeType] [int] NULL,
	[UDF_IssueResolve] [datetime] NULL,
	[UDF_CustAffect] [nvarchar](max) NULL,
	[UDF_CircuitID] [nvarchar](max) NULL,
	[UDF_TicketNumber] [nvarchar](max) NULL,
	[UDF_Carrier] [int] NULL,
	[UDF_Market2] [int] NULL,
	[UDF_TotalOutageTime2] [float] NULL,
	[UDF_TotalOutageTime2Formatted] [nvarchar](max) NULL,
	[UDF_TTR] [float] NULL,
	[UDF_TotalTimeToRepair] [nvarchar](max) NULL,
	[UDF_RequestersTeam] [int] NULL,
	[UDF_TTRCalculated] [money] NULL,
	[UDF_TotalOutageTS] [float] NULL,
	[UDF_TTRVal] [float] NULL,
	[UDF_TotalOutageTimeVal] [money] NULL,
	[UDF_TTRFormatted] [nvarchar](max) NULL,
	[UDF_NetworkType4] [int] NULL,
	[UDF_HEO2] [int] NULL,
	[OID] [int] NOT NULL,
	[AssignedToFullName] [nvarchar](256) NULL,
	[AssigneesManagerName] [nvarchar](101) NULL,
	[RequesterName] [nvarchar](101) NULL,
	[RequesterEmail] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](30) NULL,
	[RequestersManagerName] [nvarchar](101) NULL,
	[ItemOwnerName] [nvarchar](256) NULL,
	[ParentSIName] [nvarchar](256) NULL,
	[LastModifiedByName] [nvarchar](101) NULL,
	[LastAccessedByName] [nvarchar](101) NULL,
	[CreatorName] [nvarchar](101) NULL,
	[OwningOrganizationName] [nvarchar](256) NULL,
	[OwningTeamName] [nvarchar](256) NULL,
	[SLAName] [nvarchar](256) NULL,
	[CloseTypeName] [nvarchar](256) NULL,
	[TypeName] [nvarchar](256) NULL,
	[IncidentRequestTypeRootName] [nvarchar](256) NULL,
	[FullIncidentRequestType] [nvarchar](1024) NULL,
	[CGFactoryImpactName] [nvarchar](256) NULL,
	[LevelName] [nvarchar](256) NULL,
	[OriginName] [nvarchar](256) NULL,
	[CGFactoryUrgencyName] [nvarchar](256) NULL,
	[PriorityName] [nvarchar](256) NULL,
	[CategoryName] [nvarchar](256) NULL,
	[AffectedServicesName] [nvarchar](256) NULL,
	[StatusCode2Name] [nvarchar](256) NULL,
	[FixAgentName] [nvarchar](256) NULL,
	[KeyAccountName] [nvarchar](256) NULL,
	[SeverityLevelName] [nvarchar](256) NULL,
	[ServiceImpactName] [nvarchar](256) NULL,
	[CustomerAffectingName] [nvarchar](256) NULL,
	[IncidentChangeTypeName] [nvarchar](256) NULL,
	[CarrierName] [nvarchar](256) NULL,
	[Market2Name] [nvarchar](256) NULL,
	[RequestersTeamFullName] [nvarchar](256) NULL,
	[NetworkType4Name] [nvarchar](256) NULL,
	[HEO2Name] [nvarchar](256) NULL,
	[OptimisticLockValue] [int] NULL,
	[IsDeleted] [bit] NULL,
	[GCRecord] [int] NULL,
	[MetaRowKey] [varchar](100) NOT NULL,
	[MetaRowKeyFields] [varchar](100) NOT NULL,
	[MetaRowHash] [varchar](50) NOT NULL,
	[MetaSourceSystemCode] [varchar](50) NOT NULL,
	[MetaInsertDatetime] [date] NOT NULL,
	[MetaUpdateDatetime] [date] NOT NULL,
	[MetaEffectiveStartDatetime] [date] NOT NULL,
	[MetaEffectiveEndDatetime] [date] NOT NULL,
	[MetaCurrentRecordIndicator] [char](1) NOT NULL,
	[MetaOperationCode] [char](1) NOT NULL,
	[MetaDataQualityStatusId] [varchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
