USE [PBBPACQ01]
GO
/****** Object:  Table [AcqPbbCM].[OCComponent]    Script Date: 12/5/2023 4:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AcqPbbCM].[OCComponent](
	[ID] [int] NOT NULL,
	[OCOrderCaptureID] [int] NULL,
	[PcProductComponentID] [int] NOT NULL,
	[PcProductComponentClassID] [int] NOT NULL,
	[OCLocationID] [int] NULL,
	[PcParentProductComponentID] [int] NULL,
	[ParentComponentID] [int] NULL,
	[SrvItemID] [int] NULL,
	[PcRootProductComponentID] [int] NULL,
	[Price] [numeric](10, 2) NULL,
	[ServiceIdentifier] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[SpecificationName] [nvarchar](max) NOT NULL,
	[IsFractionalWaived] [bit] NOT NULL,
	[IsChargeWaived] [bit] NOT NULL,
	[IsConfigurationValid] [bit] NOT NULL,
	[IsCommissionable] [bit] NOT NULL,
	[ProfitMarginMarkup] [numeric](18, 0) NULL,
	[IsService] [bit] NOT NULL,
	[PriceDescription] [nvarchar](max) NOT NULL,
	[PcPriceID] [int] NULL,
	[PcPriceStepID] [int] NULL,
	[ChargeTypeID] [tinyint] NOT NULL,
	[ServiceID] [int] NULL,
	[Quantity] [int] NOT NULL,
	[FactoredQuantity] [int] NOT NULL,
	[TaxExemptionTypeID] [int] NULL,
	[TaxExemptionCertificate] [nvarchar](max) NULL,
	[OCComponentConfigurationID] [int] NULL,
	[ConfigurationSchemaID] [uniqueidentifier] NULL,
	[InstallDate] [datetime] NULL,
	[ProvisioningDate] [datetime] NULL,
	[BillingEffectiveDate] [datetime] NULL,
	[HasDocuments] [bit] NOT NULL,
	[ProductInstanceID] [uniqueidentifier] NULL,
	[WorkflowInstanceID] [uniqueidentifier] NULL,
	[WorkflowTypeID] [uniqueidentifier] NULL,
	[AgentID] [int] NULL,
	[DivisionID] [int] NULL,
	[ReportAreaID] [int] NULL,
	[ItemActivity] [varchar](max) NULL,
	[MinQty] [int] NULL,
	[MaxQty] [int] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[ModifiedOn] [datetime] NULL,
	[IsEquipment] [bit] NOT NULL,
	[IsConfigurationInitialized] [bit] NOT NULL,
	[PaymentStatus] [tinyint] NULL,
	[DepositTemplateID] [int] NULL,
	[AmountPaid] [numeric](15, 2) NULL,
	[OldLocationID] [int] NULL,
	[OldQuantity] [int] NULL,
	[OldPrice] [numeric](15, 7) NULL,
	[AutoRenew] [char](1) NULL,
	[PeriodDuration] [char](1) NULL,
	[PaidThruDate] [smalldatetime] NULL,
	[APR] [numeric](15, 2) NOT NULL,
	[DownPaymentAmount] [numeric](15, 2) NOT NULL,
	[PurchaseAmount] [numeric](15, 2) NOT NULL,
	[TotalCostOfLoan] [numeric](15, 2) NOT NULL,
	[TaxCollected] [numeric](15, 2) NOT NULL,
	[LoanAmount] [numeric](15, 2) NOT NULL,
	[BillingMethod] [char](1) NULL,
	[PrepaidPeriods] [int] NULL,
	[CollectionMethod] [char](1) NULL,
	[istransferred] [bit] NULL,
	[PcPricePlanID] [int] NULL,
	[IsAutoNrc] [bit] NULL,
	[MarketDescription] [nvarchar](255) NULL,
	[ItemStatus] [char](1) NULL,
	[IsQualified] [bit] NOT NULL,
	[FailureReason] [nvarchar](4000) NULL,
	[IsTransferredDetailtables] [bit] NULL,
	[AccountId] [int] NULL,
	[PcComponentID] [int] NULL,
	[PriceListID] [int] NULL,
	[MetaRowKey] [varchar](2000) NOT NULL,
	[MetaRowKeyFields] [varchar](2000) NOT NULL,
	[MetaRowHash] [varbinary](200) NOT NULL,
	[MetaSourceSystemCode] [varchar](100) NOT NULL,
	[MetaInsertDateTime] [datetime] NOT NULL,
	[MetaUpdateDateTime] [datetime] NOT NULL,
	[MetaOperationCode] [char](1) NOT NULL,
	[MetaDataQualityStatusId] [varchar](50) NOT NULL,
	[MetaEffectiveStartDatetime] [datetime] NOT NULL,
	[MetaEffectiveEndDatetime] [datetime] NOT NULL,
	[MetaCurrentRecordIndicator] [varchar](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
