USE [PBBPACQ01]
GO
/****** Object:  Table [AcqPbbMSCRM].[cus_DistributionCenterBase]    Script Date: 12/5/2023 4:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AcqPbbMSCRM].[cus_DistributionCenterBase](
	[cus_distributioncenterId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[OwnerIdType] [int] NOT NULL,
	[OwningBusinessUnit] [uniqueidentifier] NULL,
	[statecode] [int] NOT NULL,
	[statuscode] [int] NULL,
	[VersionNumber] [int] NULL,
	[ImportSequenceNumber] [int] NULL,
	[OverriddenCreatedOn] [datetime] NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[cus_distributioncentername] [nvarchar](200) NULL,
	[cus_MainServiceLocation] [uniqueidentifier] NULL,
	[cus_NumberofFloors] [int] NULL,
	[cus_TenantCount] [int] NULL,
	[cus_PropertyManagementCompany] [uniqueidentifier] NULL,
	[cus_PropertyManagementCompanyIdType] [int] NULL,
	[cus_PropertyManagementCompanyName] [nvarchar](4000) NULL,
	[cus_PropertyManagementCompanyYomiName] [nvarchar](4000) NULL,
	[cus_PropertyManagementOnsite] [bit] NULL,
	[cus_CertificateofInsuranceNeeded] [bit] NULL,
	[cus_CertificateofInsuranceObtained] [bit] NULL,
	[cus_BuildingComments] [nvarchar](max) NULL,
	[cus_AccessHours] [nvarchar](max) NULL,
	[cus_AccessNotificationRequired] [bit] NULL,
	[cus_AccessFormRequired] [bit] NULL,
	[cus_AccessFormLocation] [nvarchar](100) NULL,
	[cus_BuildingCode] [nvarchar](100) NULL,
	[cus_DoorAccessCode] [nvarchar](100) NULL,
	[cus_AccessKeyCardIdentifier] [nvarchar](100) NULL,
	[cus_AccessKeyObtained] [bit] NULL,
	[cus_AccessCardObtained] [bit] NULL,
	[cus_AccessKeyCardLocation] [nvarchar](100) NULL,
	[cus_AccessNotes] [nvarchar](max) NULL,
	[cus_MDUType] [int] NULL,
	[cus_Region] [uniqueidentifier] NULL,
	[cus_Area] [int] NULL,
	[cus_CompetitiveStatus] [int] NULL,
	[cus_ROEAgreement] [int] NULL,
	[cus_Contact] [uniqueidentifier] NULL,
	[cus_ContactIdType] [int] NULL,
	[cus_ContactName] [nvarchar](4000) NULL,
	[cus_ContactYomiName] [nvarchar](4000) NULL,
	[cus_CabinetActivated] [bit] NULL,
	[cus_CabinetScheduled] [bit] NULL,
	[cus_MDUDesignStarted] [datetime] NULL,
	[cus_MDUDesignComplete] [datetime] NULL,
	[cus_MDUConstructionReadiness] [datetime] NULL,
	[cus_MDUConstructionStarted] [datetime] NULL,
	[cus_MDUConstructionComplete] [datetime] NULL,
	[cus_CabinetExpectedConstructionCompletion] [datetime] NULL,
	[cus_CabinetActualConstructionComplete] [datetime] NULL,
	[cus_CabinetScheduledServiceable] [datetime] NULL,
	[cus_CabinetActualServiceable] [datetime] NULL,
	[cus_RelatedCabinet] [uniqueidentifier] NULL,
	[cus_CabinetRelatedProject] [uniqueidentifier] NULL,
	[cus_CabinetRelatedSubProject] [uniqueidentifier] NULL,
	[cus_HomesPassedorUnits] [int] NULL,
	[cus_BulkorDirect] [int] NULL,
	[cus_Rates] [nvarchar](max) NULL,
	[cus_ComplexName] [nvarchar](200) NULL,
	[cus_Comments] [nvarchar](max) NULL,
	[cus_BulkBillingAccount] [uniqueidentifier] NULL,
	[cus_PriceList] [nvarchar](50) NULL,
	[MetaRowKey] [varchar](2000) NOT NULL,
	[MetaRowKeyFields] [varchar](2000) NOT NULL,
	[MetaRowHash] [varbinary](200) NOT NULL,
	[MetaSourceSystemCode] [varchar](100) NOT NULL,
	[MetaInsertDateTime] [datetime] NOT NULL,
	[MetaUpdateDateTime] [datetime] NOT NULL,
	[MetaOperationCode] [char](1) NOT NULL,
	[MetaDataQualityStatusId] [varchar](50) NOT NULL,
	[MetaEffectiveStartDatetime] [datetime] NOT NULL,
	[MetaEffectiveEndDatetime] [datetime] NOT NULL,
	[MetaCurrentRecordIndicator] [varchar](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
