USE [PBBPACQ01]
GO
/****** Object:  Table [AcqPbbMSCRM].[OpportunityBase]    Script Date: 12/5/2023 4:33:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [AcqPbbMSCRM].[OpportunityBase](
	[OpportunityId] [uniqueidentifier] NOT NULL,
	[PriceLevelId] [uniqueidentifier] NULL,
	[OpportunityRatingCode] [int] NULL,
	[PriorityCode] [int] NULL,
	[Name] [nvarchar](300) NULL,
	[StepId] [uniqueidentifier] NULL,
	[Description] [nvarchar](max) NULL,
	[EstimatedValue] [money] NULL,
	[StepName] [nvarchar](200) NULL,
	[SalesStageCode] [int] NULL,
	[ParticipatesInWorkflow] [bit] NULL,
	[PricingErrorCode] [int] NULL,
	[EstimatedCloseDate] [datetime] NULL,
	[CloseProbability] [int] NULL,
	[ActualValue] [money] NULL,
	[ActualCloseDate] [datetime] NULL,
	[OwningBusinessUnit] [uniqueidentifier] NULL,
	[OriginatingLeadId] [uniqueidentifier] NULL,
	[CreatedOn] [datetime] NULL,
	[IsPrivate] [bit] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[VersionNumber] [int] NULL,
	[StateCode] [int] NOT NULL,
	[StatusCode] [int] NULL,
	[IsRevenueSystemCalculated] [bit] NULL,
	[CampaignId] [uniqueidentifier] NULL,
	[TransactionCurrencyId] [uniqueidentifier] NULL,
	[ExchangeRate] [decimal](18, 0) NULL,
	[ImportSequenceNumber] [int] NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[OverriddenCreatedOn] [datetime] NULL,
	[ActualValue_Base] [money] NULL,
	[EstimatedValue_Base] [money] NULL,
	[TotalDiscountAmount] [money] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[TotalAmount] [money] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[TotalAmountLessFreight] [money] NULL,
	[TotalLineItemDiscountAmount] [money] NULL,
	[CustomerId] [uniqueidentifier] NULL,
	[DiscountAmount] [money] NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[FreightAmount] [money] NULL,
	[TotalTax] [money] NULL,
	[DiscountPercentage] [decimal](18, 0) NULL,
	[TotalLineItemAmount] [money] NULL,
	[CustomerIdName] [nvarchar](4000) NULL,
	[CustomerIdType] [int] NULL,
	[OwnerIdType] [int] NOT NULL,
	[TotalDiscountAmount_Base] [money] NULL,
	[FreightAmount_Base] [money] NULL,
	[TotalLineItemAmount_Base] [money] NULL,
	[TotalTax_Base] [money] NULL,
	[TotalLineItemDiscountAmount_Base] [money] NULL,
	[TotalAmount_Base] [money] NULL,
	[DiscountAmount_Base] [money] NULL,
	[TotalAmountLessFreight_Base] [money] NULL,
	[CustomerIdYomiName] [nvarchar](4000) NULL,
	[FileDebrief] [bit] NULL,
	[BudgetStatus] [int] NULL,
	[PresentProposal] [bit] NULL,
	[SendThankYouNote] [bit] NULL,
	[EvaluateFit] [bit] NULL,
	[FinalDecisionDate] [datetime] NULL,
	[ConfirmInterest] [bit] NULL,
	[CompleteInternalReview] [bit] NULL,
	[TimeLine] [int] NULL,
	[CustomerPainPoints] [nvarchar](max) NULL,
	[ResolveFeedback] [bit] NULL,
	[QuoteComments] [nvarchar](max) NULL,
	[PurchaseProcess] [int] NULL,
	[CaptureProposalFeedback] [bit] NULL,
	[ParentContactId] [uniqueidentifier] NULL,
	[IdentifyCustomerContacts] [bit] NULL,
	[CompleteFinalProposal] [bit] NULL,
	[BudgetAmount] [money] NULL,
	[ParentAccountId] [uniqueidentifier] NULL,
	[ScheduleFollowup_Qualify] [datetime] NULL,
	[Need] [int] NULL,
	[PursuitDecision] [bit] NULL,
	[ProcessId] [uniqueidentifier] NULL,
	[ScheduleProposalMeeting] [datetime] NULL,
	[StageId] [uniqueidentifier] NULL,
	[QualificationComments] [nvarchar](max) NULL,
	[SalesStage] [int] NULL,
	[InitialCommunication] [int] NULL,
	[IdentifyPursuitTeam] [bit] NULL,
	[ScheduleFollowup_Prospect] [datetime] NULL,
	[PurchaseTimeframe] [int] NULL,
	[IdentifyCompetitors] [bit] NULL,
	[DecisionMaker] [bit] NULL,
	[CurrentSituation] [nvarchar](max) NULL,
	[CustomerNeed] [nvarchar](max) NULL,
	[ProposedSolution] [nvarchar](max) NULL,
	[PresentFinalProposal] [bit] NULL,
	[DevelopProposal] [bit] NULL,
	[BudgetAmount_Base] [money] NULL,
	[TraversedPath] [nvarchar](1250) NULL,
	[SLAInvokedId] [uniqueidentifier] NULL,
	[LastOnHoldTime] [datetime] NULL,
	[OnHoldTime] [int] NULL,
	[SLAId] [uniqueidentifier] NULL,
	[chr_SalesAgentId] [uniqueidentifier] NULL,
	[chr_BillingDate] [datetime] NULL,
	[chr_ChannelId] [uniqueidentifier] NULL,
	[chr_CRMOfferingId] [nvarchar](40) NULL,
	[chr_DisconnectReasons] [int] NULL,
	[chr_ExistingOfferingData] [nvarchar](max) NULL,
	[chr_FulfilmentStatus] [uniqueidentifier] NULL,
	[chr_MasterLocationID] [nvarchar](50) NULL,
	[chr_MasterServiceOrderID] [nvarchar](40) NULL,
	[chr_Offering] [nvarchar](max) NULL,
	[chr_OrderCaptureId] [nvarchar](100) NULL,
	[chr_OrderCreatedFrom] [int] NULL,
	[chr_OrderCreationStatusId] [uniqueidentifier] NULL,
	[chr_OrderTypeId] [uniqueidentifier] NULL,
	[chr_Project] [nvarchar](80) NULL,
	[chr_ProjectManager] [uniqueidentifier] NULL,
	[chr_ProvisioningDate] [datetime] NULL,
	[chr_RegionId] [uniqueidentifier] NULL,
	[chr_SalesEngineer] [uniqueidentifier] NULL,
	[chr_SegmentId] [uniqueidentifier] NULL,
	[chr_ServiceLocationId] [uniqueidentifier] NULL,
	[chr_ServiceLocationName] [nvarchar](320) NULL,
	[chr_TechnicianDate] [datetime] NULL,
	[chr_TotalMRC] [money] NULL,
	[chr_totalmrc_Base] [money] NULL,
	[chr_TotalNRC] [money] NULL,
	[chr_totalnrc_Base] [money] NULL,
	[msa_partneroppid] [uniqueidentifier] NULL,
	[chr_VisitOpportunitiesId] [uniqueidentifier] NULL,
	[chr_partner_createdbycontact] [uniqueidentifier] NULL,
	[chr_partner_modifiedbycontact] [uniqueidentifier] NULL,
	[chr_partner_partneraccount] [uniqueidentifier] NULL,
	[chr_partner_partnercontact] [uniqueidentifier] NULL,
	[cus_Explainprorationonfirstbill] [int] NULL,
	[cus_Offerinsidewiremaintenance] [int] NULL,
	[cus_ServicesPurchasing] [int] NULL,
	[cus_EquipmenttobeReturned] [int] NULL,
	[cus_EquipmentReturnType] [int] NULL,
	[chr_CloseReasonDescription] [nvarchar](500) NULL,
	[chr_CloseResonCode] [uniqueidentifier] NULL,
	[new_PortedTelephoneNumber] [bit] NULL,
	[new_ProjectType] [int] NULL,
	[cus_AccountAdded] [bit] NULL,
	[cus_AddContractTerms] [bit] NULL,
	[cus_LocationsIdentified] [bit] NULL,
	[cus_networkapproved] [bit] NULL,
	[cus_OpportunityApproved] [bit] NULL,
	[cus_PlantNeeded] [int] NULL,
	[cus_ProductsIdentified] [bit] NULL,
	[cus_QuoteGenerated] [bit] NULL,
	[cus_ReadytoCreateOrder] [bit] NULL,
	[cus_SendtoNetworkOpertions] [int] NULL,
	[cus_SourceLead] [uniqueidentifier] NULL,
	[cus_StartOrder] [bit] NULL,
	[cus_BusinessUnit] [uniqueidentifier] NULL,
	[cus_Project] [uniqueidentifier] NULL,
	[cus_ContractTermLengthinMonths] [int] NULL,
	[cus_PreviousMRCupgradesrenewals] [money] NULL,
	[cus_previousmrcupgradesrenewals_Base] [money] NULL,
	[chr_AccountChangeOldAccount] [uniqueidentifier] NULL,
	[cus_OpportunitiesId] [uniqueidentifier] NULL,
	[cus_AccountGroup] [uniqueidentifier] NULL,
	[chr_agencynumber] [nvarchar](30) NULL,
	[chr_contractidcustomer] [nvarchar](30) NULL,
	[chr_contractidvendor] [nvarchar](30) NULL,
	[chr_purchaseorder] [nvarchar](30) NULL,
	[cus_EquipmentonOrder] [bit] NULL,
	[cus_EquipmentExistsOnOrder] [int] NULL,
	[MetaRowKey] [varchar](2000) NOT NULL,
	[MetaRowKeyFields] [varchar](2000) NOT NULL,
	[MetaRowHash] [varbinary](200) NOT NULL,
	[MetaSourceSystemCode] [varchar](100) NOT NULL,
	[MetaInsertDateTime] [datetime] NOT NULL,
	[MetaUpdateDateTime] [datetime] NOT NULL,
	[MetaOperationCode] [char](1) NOT NULL,
	[MetaDataQualityStatusId] [varchar](50) NOT NULL,
	[MetaEffectiveStartDatetime] [datetime] NOT NULL,
	[MetaEffectiveEndDatetime] [datetime] NOT NULL,
	[MetaCurrentRecordIndicator] [varchar](1) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [AcqPbbMSCRM].[OpportunityBase] ADD  DEFAULT ((0)) FOR [ParticipatesInWorkflow]
GO
ALTER TABLE [AcqPbbMSCRM].[OpportunityBase] ADD  DEFAULT ((0)) FOR [IsPrivate]
GO
ALTER TABLE [AcqPbbMSCRM].[OpportunityBase] ADD  DEFAULT ((0)) FOR [IsRevenueSystemCalculated]
GO
ALTER TABLE [AcqPbbMSCRM].[OpportunityBase] ADD  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [OwnerId]
GO
ALTER TABLE [AcqPbbMSCRM].[OpportunityBase] ADD  DEFAULT ((8)) FOR [OwnerIdType]
GO
