USE [PBBPDW01]
GO
/****** Object:  Table [dbo].[DimAccountItemT2]    Script Date: 12/5/2023 5:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAccountItemT2](
	[DimAccountItemKey] [bigint] NULL,
	[DimAccountItemNaturalKey] [varchar](200) NOT NULL,
	[DimAccountItemNaturalKeyFields] [varchar](200) NOT NULL,
	[AccountCode] [varchar](20) NOT NULL,
	[AccountId] [int] NOT NULL,
	[LocationId] [int] NOT NULL,
	[ServiceId] [int] NOT NULL,
	[ItemId] [int] NOT NULL,
	[ItemVersion] [smallint] NOT NULL,
	[IsRecurring] [tinyint] NOT NULL,
	[SrcModifyDate] [date] NOT NULL,
	[PackageId] [int] NULL,
	[PackageVersion] [smallint] NULL,
	[ProductId] [int] NULL,
	[Quantity] [int] NOT NULL,
	[ActivationDate] [date] NOT NULL,
	[DeactivationDate] [date] NOT NULL,
	[ParentItemId] [int] NULL,
	[GroupId] [int] NULL,
	[ItemStatusCode] [char](1) NOT NULL,
	[PWBParentItemId] [int] NULL,
	[SegmentId] [int] NULL,
	[ItemDisplayName] [varchar](255) NULL,
	[ItemMarketDescription] [varchar](255) NULL,
	[Level1ItemId] [int] NOT NULL,
	[Level1DisplayName] [varchar](255) NOT NULL,
	[Level2ItemId] [int] NULL,
	[Level2DisplayName] [varchar](255) NULL,
	[Level3ItemId] [int] NULL,
	[Level3DisplayName] [varchar](255) NULL,
	[Level4ItemId] [int] NULL,
	[Level4DisplayName] [varchar](255) NULL,
	[Level5ItemId] [int] NULL,
	[Level5DisplayName] [varchar](255) NULL,
	[Level4ComponentClassId] [int] NOT NULL,
	[Level4ComponentClass] [varchar](40) NULL,
	[Level4ComponentId] [int] NOT NULL,
	[Level4ComponentVersion] [smallint] NOT NULL,
	[Level4PricePlanId] [int] NULL,
	[Level4PricePlanName] [varchar](80) NULL,
	[Level5ComponentClassId] [int] NULL,
	[Level5ComponentClass] [varchar](40) NULL,
	[Level5ComponentId] [int] NULL,
	[Level5ComponentVersion] [smallint] NULL,
	[DisperseCharges] [bit] NULL,
	[DisperseAmount] [numeric](15, 7) NULL,
	[DisperseWeight] [int] NULL,
	[DisperseWeightAllocation] [int] NULL,
	[DisperseChargesAllocation] [bit] NULL,
	[MetaSourceSystemCode] [varchar](10) NULL,
	[MetaEffectiveStartDatetime] [datetime] NULL,
	[MetaEffectiveEndDatetime] [datetime] NULL,
	[MetaInsertDatetime] [datetime] NULL,
	[MetaCurrentRecordIndicator] [char](1) NULL,
	[MetaOperationCode] [char](1) NULL,
	[MetaEtlProcessId] [int] NULL,
	[MetaRowHash] [varbinary](1) NULL
) ON [PRIMARY]
GO
