USE [PBBPDW01]
GO
/****** Object:  Table [dbo].[DimAccountT2]    Script Date: 12/5/2023 5:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DimAccountT2](
	[DimAccountKey] [bigint] NULL,
	[DimAccountNaturalKey] [varchar](200) NULL,
	[DimAccountNatualKeyFields] [varchar](200) NULL,
	[AccountCode] [varchar](20) NULL,
	[SrcAccountId] [varchar](400) NULL,
	[SrcDimAccountId] [int] NULL,
	[AccountMarket] [varchar](100) NULL,
	[AccountReportingMarket] [varchar](100) NULL,
	[AccountClassCode] [char](1) NULL,
	[AccountClass] [varchar](50) NULL,
	[AccountGroupCode] [varchar](20) NULL,
	[AccountGroup] [varchar](50) NULL,
	[AccountTypeCode] [varchar](4) NULL,
	[AccountType] [varchar](20) NULL,
	[IsWriteOff] [tinyint] NULL,
	[IsCourtesy] [tinyint] NULL,
	[IsInternal] [tinyint] NULL,
	[CustomerServiceRegionCode] [varchar](20) NULL,
	[AccountBillCycleNumber] [tinyint] NULL,
	[AccountPaymentDueDay] [varchar](20) NULL,
	[AccountTaxExemptions] [varchar](100) NULL,
	[AccountStatusCode] [char](1) NULL,
	[AccountStatus] [varchar](50) NULL,
	[AccountName] [varchar](200) NULL,
	[ActivationDate] [date] NULL,
	[DeactivationDate] [date] NULL,
	[AccountPhoneNumber] [varchar](11) NULL,
	[AccountEmailAddress] [varchar](100) NULL,
	[AccountSSNLast4Digits] [varchar](4) NULL,
	[BillingAddressPhone] [varchar](11) NULL,
	[BillingAddressAttention] [varchar](50) NULL,
	[BillingAddressStreetLine1] [varchar](100) NULL,
	[BillingAddressStreetLine2] [varchar](100) NULL,
	[BillingAddressStreetLine3] [varchar](100) NULL,
	[BillingAddressCity] [varchar](50) NULL,
	[BillingAddressState] [varchar](50) NULL,
	[BillingAddressStateAbbreviation] [varchar](6) NULL,
	[BillingAddressPostalCode] [varchar](10) NULL,
	[InvoiceFormat] [varchar](250) NULL,
	[PrintGroup] [varchar](40) NULL,
	[CpniOptOut] [char](1) NULL,
	[CpniOptOutDate] [date] NULL,
	[CpniOptIn] [char](1) NULL,
	[CpniOptInDate] [date] NULL,
	[PreferredContactMethod] [varchar](50) NULL,
	[AllowEmail] [varchar](50) NULL,
	[AllowBulkEmail] [varchar](50) NULL,
	[AllowPhone] [varchar](50) NULL,
	[AllowFax] [varchar](50) NULL,
	[AllowMail] [varchar](50) NULL,
	[AllowText] [varchar](50) NULL,
	[IsPromiseToPayExempt] [tinyint] NULL,
	[IsNoticeExempt] [tinyint] NULL,
	[IsLateFeeExempt] [tinyint] NULL,
	[IsCreditRatingExempt] [tinyint] NULL,
	[IsCreditEventExempt] [tinyint] NULL,
	[IsNonPayDisconnectExempt] [tinyint] NULL,
	[AccountOwner] [varchar](200) NULL,
	[AccountAgent] [varchar](40) NULL,
	[ACHBankRoutingNumber] [varchar](9) NULL,
	[ACHStatus] [varchar](10) NULL,
	[ACHStartDate] [date] NULL,
	[ACHEndDate] [date] NULL,
	[ACHBankName] [varchar](40) NULL,
	[MetaSourceSystemCode] [varchar](10) NULL,
	[MetaEffectiveStartDatetime] [datetime] NULL,
	[MetaEffectiveEndDatetime] [datetime] NULL,
	[MetaInsertDatetime] [datetime] NULL,
	[MetaCurrentRecordIndicator] [char](1) NULL,
	[MetaOperationCode] [char](1) NULL,
	[MetaEtlProcessId] [int] NULL,
	[MetaRowHash] [varbinary](1) NULL
) ON [PRIMARY]
GO
