USE [PBBPDW01]
GO
/****** Object:  Table [tmp].[DimAccountT2_STG]    Script Date: 12/5/2023 5:09:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [tmp].[DimAccountT2_STG](
	[DimAccountNaturalKey] [nvarchar](20) NOT NULL,
	[DimAccountNatualKeyFields] [varchar](11) NOT NULL,
	[AccountCode] [nvarchar](20) NOT NULL,
	[SrcAccountId] [nvarchar](400) NOT NULL,
	[SrcDimAccountId] [int] NOT NULL,
	[AccountMarket] [nvarchar](100) NULL,
	[AccountReportingMarket] [nvarchar](100) NULL,
	[AccountClassCode] [nvarchar](20) NOT NULL,
	[AccountClass] [nvarchar](256) NOT NULL,
	[AccountGroupCode] [nvarchar](20) NOT NULL,
	[AccountGroup] [nvarchar](256) NOT NULL,
	[AccountTypeCode] [varchar](3) NOT NULL,
	[AccountType] [varchar](11) NOT NULL,
	[IsWriteOff] [int] NOT NULL,
	[IsCourtesy] [int] NOT NULL,
	[IsInternal] [int] NOT NULL,
	[CustomerServiceRegionCode] [nvarchar](20) NOT NULL,
	[AccountBillCycleNumber] [int] NOT NULL,
	[AccountPaymentDueDay] [varchar](40) NULL,
	[AccountTaxExemptions] [nvarchar](256) NOT NULL,
	[AccountStatusCode] [nvarchar](1) NOT NULL,
	[AccountStatus] [nvarchar](256) NOT NULL,
	[AccountName] [nvarchar](168) NOT NULL,
	[ActivationDate] [date] NULL,
	[DeactivationDate] [date] NULL,
	[AccountPhoneNumber] [nvarchar](50) NOT NULL,
	[AccountEmailAddress] [nvarchar](100) NOT NULL,
	[AccountSSNLast4Digits] [nvarchar](4) NOT NULL,
	[BillingAddressPhone] [nvarchar](50) NOT NULL,
	[BillingAddressAttention] [nvarchar](50) NOT NULL,
	[BillingAddressStreetLine1] [nvarchar](4000) NOT NULL,
	[BillingAddressStreetLine2] [nvarchar](4000) NOT NULL,
	[BillingAddressStreetLine3] [nvarchar](4000) NOT NULL,
	[BillingAddressCity] [nvarchar](4000) NOT NULL,
	[BillingAddressState] [nvarchar](4000) NOT NULL,
	[BillingAddressStateAbbreviation] [nvarchar](6) NOT NULL,
	[BillingAddressPostalCode] [nvarchar](4000) NOT NULL,
	[InvoiceFormat] [nvarchar](256) NOT NULL,
	[PrintGroup] [nvarchar](40) NOT NULL,
	[CpniOptOut] [nvarchar](1) NOT NULL,
	[CpniOptOutDate] [date] NULL,
	[CpniOptIn] [nvarchar](1) NOT NULL,
	[CpniOptInDate] [date] NULL,
	[PreferredContactMethod] [nvarchar](256) NOT NULL,
	[AllowEmail] [varchar](1) NOT NULL,
	[AllowBulkEmail] [varchar](1) NOT NULL,
	[AllowPhone] [varchar](1) NOT NULL,
	[AllowFax] [varchar](1) NOT NULL,
	[AllowMail] [varchar](1) NOT NULL,
	[AllowText] [varchar](1) NOT NULL,
	[IsPromiseToPayExempt] [int] NOT NULL,
	[IsNoticeExempt] [int] NOT NULL,
	[IsLateFeeExempt] [int] NOT NULL,
	[IsCreditRatingExempt] [int] NOT NULL,
	[IsCreditEventExempt] [int] NOT NULL,
	[IsNonPayDisconnectExempt] [int] NOT NULL,
	[AccountOwner] [nvarchar](200) NOT NULL,
	[AccountAgent] [nvarchar](40) NOT NULL,
	[ACHBankRoutingNumber] [varchar](9) NOT NULL,
	[ACHStatus] [nvarchar](10) NOT NULL,
	[ACHStartDate] [date] NULL,
	[ACHEndDate] [date] NULL,
	[ACHBankName] [varchar](40) NOT NULL,
	[MetaSourceSystemCode] [varchar](5) NOT NULL,
	[MetaEffectiveStartDatetime] [datetime] NOT NULL,
	[MetaEffectiveEndDatetime] [datetime] NOT NULL,
	[MetaInsertDatetime] [datetime] NOT NULL,
	[MetaUpdateDatetime] [datetime] NOT NULL,
	[MetaEtlProcessId] [numeric](18, 0) NULL,
	[MetaRowHash] [varbinary](8000) NULL
) ON [PRIMARY]
GO
