USE [OMNIA_EPBB_P_PBB_DW]
GO
/****** Object:  View [dbo].[PBB_ProductAnalysisDetails_WithDataSpeeds]    Script Date: 12/5/2023 3:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/*
select * from PBB_ProductAnalysisDetails_WithDataSpeeds 
*/

CREATE VIEW [dbo].[PBB_ProductAnalysisDetails_WithDataSpeeds]
as
	with DataSpeeds
		as (select Component
				,DownloadMB
				,UploadMB
				,ROW_NUMBER() over(partition by Component
				 order by DownloadMB DESC) as rn
		    from [OMNIA_EPBB_P_PBB_DW].[dbo].PrdComponentMap), -- returns data speeds by component, returning highest speed when multiple components exist with the same name
		LastBilledAmount
		as (select [AccountCode]
				,[Last Billed Amount]
		    from [dbo].[PBB_AccountLastInvoiceMRCAmount])
		select pad.[AccountCode]
			 ,[LocationId]
			 ,[AccountGroupCode]
			 ,[AccountType]
			 ,[DimAccountId]
			 ,[AccountName]
			 ,[AccountActivationDate]
			 ,[AccountDeactivationDate]
			 ,[AccountStatus]
			 ,[PhoneNumber]
			 ,[Email]
			 ,[CPNIEmail]
			 ,[Telephone1]
			 ,[Phone]
			 ,[Phone2]
			 ,[Phone3]
			 ,[PortalEmail]
			 ,[PortalUserExists]
			 ,[FirstServiceInstallDate]
			 ,[LastServiceDisconnectDate]
			 ,[DimServiceLocationID]
			 ,[ServiceAddress]
			 ,[ServiceStreetName]
			 ,[ServiceState]
			 ,[ServiceCity]
			 ,[ServicePostalCode]
			 ,[ServiceTaxArea]
			 ,[ServiceSalesRegion]
			 ,[ServiceProjectCode]
			 ,[BillingAddressLine1]
			 ,[BillingAddressLine2]
			 ,[BillingAddressLine3]
			 ,[BillingAddressLine4]
			 ,[BillingAddressCity]
			 ,[BillingAddressState]
			 ,[BillingAddressPostalCode]
			 ,[CycleDescription]
			 ,[CycleNumber]
			 ,[Location Zone]
			 ,[Cabinet]
			 ,[Wirecenter Region]
			 ,[FM AddressID]
			 ,[Omnia SrvItemLocationID]
			 ,[Internal]
			 ,[Courtesy]
			 ,[EmployeeFlag]
			 ,[MilitaryDiscount]
			 ,[SeniorDiscount]
			 ,[PointPause]
			 ,[Ebill_Flag]
			 ,[HasPackage]
			 ,[Package]
			 ,[TotalPackageCharge]
			 ,[TotalPackageChargeNet]
			 ,[UnallocatedPackageCharge]
			 ,[HasData]
			 ,[HasDataSvc]
			 ,[DataCategory]
			 ,[DataSvc]
			 ,[DownloadMB] as [DownloadSpeedMB]
			 ,[UploadMB] as [UploadSpeedMB]
			 ,[DataServiceCharge]
			 ,[DataServiceNetCharge]
			 ,[HasSmartHome]
			 ,[SmartHomeServiceCharge]
			 ,[SmartHomeServiceNetCharge]
			 ,[HasSmartHomePod]
			 ,[SmartHomePodCharge]
			 ,[SmartHomePodNetCharge]
			 ,[HasPointGuard]
			 ,[PointGuardCharge]
			 ,[PointGuardNetCharge]
			 ,[DataAddOnCharge]
			 ,[DataAddOnNetCharge]
			 ,[HasCable]
			 ,[HasCableSvc]
			 ,[CableCategory]
			 ,[CableSvc]
			 ,[CableServiceCharge]
			 ,[CableServiceNetCharge]
			 ,[HasHBO]
			 ,[HBOServiceCharge]
			 ,[HBONetCharge]
			 ,[HasCinemax]
			 ,[CinemaxServiceCharge]
			 ,[CinemaxNetCharge]
			 ,[HasShowtime]
			 ,[ShowtimeServiceCharge]
			 ,[ShowtimeNetCharge]
			 ,[HasStarz]
			 ,[StarzServiceCharge]
			 ,[StarzNetCharge]
			 ,[CableAddOnCharge]
			 ,[CableAddOnNetCharge]
			 ,[HasPhone]
			 ,[HasPhoneSvc]
			 ,[HasComplexPhoneSvc]
			 ,[PhoneSvc]
			 ,[PhoneServiceCharge]
			 ,[PhoneServiceNetCharge]
			 ,[PhoneAddOnCharge]
			 ,[PhoneAddOnNetCharge]
			 ,[HasPromo]
			 ,[PromoCharge]
			 ,[PromoNetCharge]
			 ,[HasTaxOrFee]
			 ,[TaxFeeCharge]
			 ,[TaxFeeNetCharge]
			 ,[HasOther]
			 ,[OtherCharge]
			 ,[OtherNetCharge]
			 ,[AutoPay]
			 ,[TotalCharge]
			 ,[PackageAllocation]
			 ,[Last Billed Amount]
		from [OMNIA_EPBB_P_PBB_DW].[dbo].[PBB_ProductAnalysisDetails] pad
			left join DataSpeeds ds on ds.Component = pad.DataSvc
								  and (rn = 1
									  or rn is null)
		     left join LastBilledAmount lb on lb.AccountCode = pad.AccountCode
GO
