USE [OMNIA_EPBB_P_PBB_DW]
GO
/****** Object:  View [rpt].[PBB_SalesOrderDisconnect_BV]    Script Date: 12/5/2023 3:30:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [rpt].[PBB_SalesOrderDisconnect_BV] as
SELECT 
  AccountActivationDate	[Acct-ActivationDate]
, BundleType	        [Acct-BundleType]
, AccountClass	        [Acct-Class]
--, AccountClassCode	    [Acct-ClassCode]
, AccountCode	        [Acct-Code]
, AccountCount	        [Acct-Count]
, AccountDeactivationDate	[Acct-DeactivationDate]
, AccountGroup	    [Acct-Group]
, AccountGroupCode	[Acct-GroupCode]
, AccountName       [Acct-Name]
, PortalUserExists	[Acct-PortalUserExists]
, PrintGroup	    [Acct-PrintGroup]
, Speed	            [Acct-Speed]
--, Tenure	        [Acct-Tenure]
, TenureRange    	[Acct-TenureRange]
--, TenureSort	    [Acct-TenureSort]
, case when AccountType = 'COMMERCIAL'  then 'Business'
       when AccountType = 'RESIDENTIAL' then 'Residential'
       else AccountType end [Acct-Type]
, WriteOffStatus    [Acct-WriteOffStatus]
, CalcProjectName	[Addr-CalcProjectName]
, ServiceLocationCity	        [Addr-City]
, ServiceLocationFullAddress	[Addr-Full Address]
, Cabinet                       [Addr-Cabinet]
, Latitude	                    [Addr-Latitude]
, Longitude      	            [Addr-Longitude]
, ProjectName	                [Addr-ProjectName]
--, LocationProjectCode	        [Addr-ProjectCode]
, ServiceLocationStateAbbrev	[Addr-StateAbbrev]
, AddressType	                [Addr-Type]
, ServiceLocationZip	        [Addr-Zip]
, DelinquentInvoicesLast6Months	[AR-DelinquentInvoicesLast6Months]
, NonPayCountLast6Months	    [AR-NonPayCountLast6Months]
, PaidInvoicesLast6Months	    [AR-PaidInvoicesLast6Months]
, PartialPaidInvoicesLast6Months	[AR-PartialPaidInvoicesLast6Months]
, PTPCountLast6Months	[AR-PTPCountLast6Months]
, DimAccountId	        [Dim-AccountId]
, DiscountAmount	    [Inv-DiscountAmount]
, DiscountAmountMinus1	[Inv-DiscountAmountMinus1]
, DiscountAmountMinus2	[Inv-DiscountAmountMinus2]
, DiscountAmountMinus3	[Inv-DiscountAmountMinus3]
, DiscountAmountMinus4	[Inv-DiscountAmountMinus4]
, DiscountAmountMinus5	[Inv-DiscountAmountMinus5]
, InvoiceAmount	        [Inv-InvoiceAmount]
, InvoiceAmountMinus1	[Inv-InvoiceAmountMinus1]
, InvoiceAmountMinus2	[Inv-InvoiceAmountMinus2]
, InvoiceAmountMinus3	[Inv-InvoiceAmountMinus3]
, InvoiceAmountMinus4	[Inv-InvoiceAmountMinus4]
, InvoiceAmountMinus5	[Inv-InvoiceAmountMinus5]
, LastInvoiceBilledMRC	[Inv-LastFullBilledMRC]
, NonRecurringAmount	[Inv-NonRecurringAmount]
, NonRecurringAmountMinus1	[Inv-NonRecurringAmountMinus1]
, NonRecurringAmountMinus2	[Inv-NonRecurringAmountMinus2]
, NonRecurringAmountMinus3	[Inv-NonRecurringAmountMinus3]
, NonRecurringAmountMinus4	[Inv-NonRecurringAmountMinus4]
, NonRecurringAmountMinus5	[Inv-NonRecurringAmountMinus5]
, PaymentAmount	        [Inv-PaymentAmount]
, PaymentAmountMinus1	[Inv-PaymentAmountMinus1]
, PaymentAmountMinus2	[Inv-PaymentAmountMinus2]
, PaymentAmountMinus3	[Inv-PaymentAmountMinus3]
, PaymentAmountMinus4	[Inv-PaymentAmountMinus4]
, PaymentAmountMinus5	[Inv-PaymentAmountMinus5]
, PreviousBalanceAmount	[Inv-PreviousBalanceAmount]
, PreviousBalanceAmountMinus1	[Inv-PreviousBalanceAmountMinus1]
, PreviousBalanceAmountMinus2	[Inv-PreviousBalanceAmountMinus2]
, PreviousBalanceAmountMinus3	[Inv-PreviousBalanceAmountMinus3]
, PreviousBalanceAmountMinus4	[Inv-PreviousBalanceAmountMinus4]
, PreviousBalanceAmountMinus5	[Inv-PreviousBalanceAmountMinus5]
, RecurringAmount	        [Inv-RecurringAmount]
, RecurringPaymentMethod	[Inv-RecurringPaymentMethod]
, RecurringAmountMinus1	[Inv-RecurringAmountMinus1]
, RecurringAmountMinus2	[Inv-RecurringAmountMinus2]
, RecurringAmountMinus3	[Inv-RecurringAmountMinus3]
, RecurringAmountMinus4	[Inv-RecurringAmountMinus4]
, RecurringAmountMinus5	[Inv-RecurringAmountMinus5]
, TotalDue	        [Inv-TotalDue]
, TotalDueMinus1	[Inv-TotalDueMinus1]
, TotalDueMinus2	[Inv-TotalDueMinus2]
, TotalDueMinus3	[Inv-TotalDueMinus3]
, TotalDueMinus4	[Inv-TotalDueMinus4]
, TotalDueMinus5	[Inv-TotalDueMinus5]
--, LastInvYearMonth	[LastInvYearMonth]
--, LastInvYearMonthMinus1	LastInvYearMonthMinus1
--, LastInvYearMonthMinus2	LastInvYearMonthMinus2
--, LocationId	            LocationId
, AccountMarket	[Mkt-AccountMarket]
, MarketSummary	[Mkt-MarketSummary]
, MarketSort    [Mkt-Sort]
, ReportingMarket	[Mkt-ReportingMarket]
, OrderActivityType	[Order-ActivityType]
, SalesOrderChannel	[Order-Channel]
, SalesOrderClassification	[Order-Classification]
, SalesOrderCommitmentDate	[Order-CommitmentDate]
, CompletionDate	[Order-CompletionDate]
, DisconnectReason	[Order-DisconnectReason]
, case when DisconnectType = 'NonPay' then 'NonPay' else DisconnectReasonCategory	End [Order-DisconnectReasonCategory]
, DisconnectType	[Order-DisconnectType]
, SalesOrderFulfillmentStatus	[Order-FulfillmentStatus]
, SalesOrderId	    [Order-Id]
, SalesOrderName	[Order-Name]
, SalesOrderNumber	[Order-Number]
, SalesOrderOwner	[Order-Owner]
, SalesOrderPriorityCode	[Order-PriorityCode]
, SalesOrderProvisioningDate	[Order-ProvisioningDate]
, OrderReviewDate	[Order-ReviewDate]
, SalesOrderSegment	[Order-Segment]
, SalesOrderStatus	[Order-Status]
, SalesOrderStatusReason	[Order-StatusReason]
, SalesOrderTotalAmount	[Order-TotalAmount]
, SalesOrderTotalMRC	[Order-TotalMRC]
, SalesOrderTotalNRC	[Order-TotalNRC]
, SalesOrderTotalTax	[Order-TotalTax]
, SalesOrderType	    [Order-Type]
, Orig_InstallOrderChannel	[Orig-InstallChannel]
, Orig_InstallOrderName	    [Orig-InstallName]
, Orig_InstallOrderNumber	[Orig-InstallNumber]
, Orig_InstallOrderBillReviewDate	[Orig-InstallOrderReviewDate]
, Orig_InstallOrderOwner	            [Orig-InstallOwner]
, Orig_SalesOrderProvisioningDate	[Orig-InstallProvisioningDate]
, Orig_InstallSalesAgent  	[Orig-InstallSalesAgent]
, Orig_InstallOrderSegment	[Orig-InstallSegment]
, Orig_InstallStatus	[Orig-InstallStatus]
, Orig_InstallType	[Orig-InstallType]
--, Selection_Flag	[Selection_Flag]
, TroubleTicketsLast3Months	[TroubleTicket-CountLast3Months]

  FROM rpt.PBB_SalesOrderDisconnect
GO
