USE [OMNIA_EPBB_P_PBB_DW]
GO
/****** Object:  UserDefinedFunction [dbo].[PBB_AccountLocation_ALLActiveServices_Aggregation]    Script Date: 12/5/2023 3:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
/*
select top(1000) * from dbo.PBB_AccountLocation_Services_Aggregation('10/1/2021', char(13) + char(10)) -- should put each service on a new line in SSRS report
select top(1000) * from dbo.PBB_AccountLocation_Services_Aggregation('10/1/2021',', ') order by DimAccountId
*/

CREATE FUNCTION [dbo].[PBB_AccountLocation_ALLActiveServices_Aggregation](
			@AsOfDate  date
		    ,@Delimiter nvarchar(10) = ', ') -- apparently, optional parameters in table functions DON'T WORK
RETURNS TABLE
AS
	RETURN
		  (

--declare @AsOfDate  date = '1/10/2023'
--  ,@Delimiter nvarchar(10) = ', ';

			with Svc as (		 
			select [DimAccountId]
				  ,[DimServiceLocationId]
				  ,case when sortvalue = 1 then 'Parent'
					when sortvalue = 2 then 'Child' end as svctype
				  ,String_Agg(convert(nvarchar(max),ComponentName),@Delimiter) within group(order by sortvalue)  Svc
			 from
				 (
					select fci.[DimAccountId]
						 ,fci.[DimServiceLocationId]
						 ,case
							 when pcm.componentclassid in (60000,10000,40200,510,81000,12000,100,50000,14000,66000,11020,500)
							 then 1
							 when pcm.componentclassid not in (60000,10000,40200,510,81000,12000,100,50000,14000,66000,11020,500)
							 then 2
							 --when(pcm.IsLocalPhn = 1
								-- or pcm.IsComplexPhn = 1)
							 --then 3
						  end as sortvalue
						 ,ci.ComponentName + case
											when count(ci.DimCatalogItemId) = 1
											then '' else ' (x' + convert(varchar(10),count(ci.DimCatalogItemId)) + ')'
										 end as [ComponentName]
					from (select distinct DimCustomerItemId, DimCatalogItemId, dimaccountid, dimservicelocationid, itemprice, itemid, itemquantity, Activation_DimDateId, Deactivation_DimDateId, EffectiveEndDate, EffectiveStartDate
			from [OMNIA_EPBB_P_PBB_DW].[dbo].[FactCustomerItem]) fci
						inner join [OMNIA_EPBB_P_PBB_DW].[dbo].[DimCustomerItem] dci on dci.DimCustomerItemId = fci.DimCustomerItemId
						inner join [OMNIA_EPBB_P_PBB_DW].[dbo].[DimCatalogItem] ci on ci.DimCatalogItemId = fci.DimCatalogItemId
						inner join [OMNIA_EPBB_P_PBB_DW].[dbo].[PrdComponentMap] pcm on pcm.ComponentCode = ci.ComponentCode
					where DimAccountID != 0
						 and (fci.EffectiveStartDate <= @AsOfDate
							 and fci.EffectiveEndDate > @AsOfDate)
						 and (dci.ItemActivationDate <= @AsOfDate
							 and (dci.ItemDeactivationDate > @AsOfDate
								 or dci.ItemDeactivationDate is null))
					group by fci.DimAccountId
						   ,fci.DimServiceLocationId
						   ,ci.ComponentName
						   ,case
							when pcm.componentclassid in (60000,10000,40200,510,81000,12000,100,50000,14000,66000,11020,500)
							 then 1
							 when pcm.componentclassid not in (60000,10000,40200,510,81000,12000,100,50000,14000,66000,11020,500)
							 then 2
							 --when(pcm.IsLocalPhn = 1
								-- or pcm.IsComplexPhn = 1)
							 --then 3
						  end
				 ) d
			 group by [DimAccountId]
				    ,[DimServiceLocationId]
					,sortvalue

		  )
		  select * 
		  from
		  (select * from Svc) d
		  pivot
		  (max(svc) for svctype in ([Parent],[Child])) as pvt
		  )

	
GO
