USE [OMNIA_EPBB_P_PBB_DW]
GO
/****** Object:  View [rpt].[PBB_ProductAnalysis_BV]    Script Date: 12/5/2023 3:30:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

Create view [rpt].[PBB_ProductAnalysis_BV] as
SELECT [AccountCode] 'Acct-Code'
      ,[AccountGroupCode] 'Acct-Group'
      ,[AccountType] 'Acct-Type'
      ,[AccountName] 'Acct-Name'
      ,[AccountActivationDate] 'Acct-ActivationDate'
      ,[AccountDeactivationDate] 'Acct-DeactivationDate'
      ,[AccountStatus] 'Acct-Status'
      ,[Email] 'Acct-Email'
      ,[CPNIEmail] 'Acct-CPNIEmail'
	  ,[PhoneNumber] 'Acct-PhoneNumber'
      ,[Telephone1] 'Acct-Telephone1'
      ,[Phone] 'Acct-Phone'
      ,[Phone2] 'Acct-Phone2'
      ,[Phone3] 'Acct-Phone3'
      ,[PortalUserExists] 'Acct-PortalUserExists'
	  ,[PortalEmail] 'Acct-PortalEmail'
	  ,[Ebill_Flag] 'Acct-Ebill'
	  ,[AutoPay] 'Acct-Recurring'
	  ,[CycleDescription] 'Acct-CycleDescription'
      ,[CycleNumber] 'Acct-CycleNumber'
      ,[FirstServiceInstallDate] 'Acct-FirstServiceInstallDate'
      ,[LastServiceDisconnectDate] 'Acct-LastServiceDisconnectDate'
	  ,[LocationId] 'Addr-LocationID'
      ,[ServiceAddress] 'Addr-ServiceAddress'
      ,[ServiceStreetName] 'Addr-StreetName'
      ,[ServiceState] 'Addr-State'
      ,[ServiceCity] 'Addr-City'
      ,[ServicePostalCode] 'Addr-Zip'
      ,[ServiceTaxArea] 'Addr-TaxArea'
      ,[ServiceSalesRegion] 'Addr-SalesRegion'
	  ,[Location Zone] 'Addr-LocationZone'
      ,[ServiceProjectCode] 'Addr-Project'
      ,[Cabinet]  'Addr-Cabinet'
      ,[BillingAddressLine1] 'BillingAddr-Line1'
      ,[BillingAddressLine2] 'BillingAddr-Line2'
      ,[BillingAddressLine3] 'BillingAddr-Line3'
      ,[BillingAddressLine4] 'BillingAddr-Line4'
      ,[BillingAddressCity] 'BillingAddr-City'
      ,[BillingAddressState] 'BillingAddr-State'
      ,[BillingAddressPostalCode] 'BillingAddr-Zip'
      ,[Internal] 'Disc-Internal'
      ,[Courtesy] 'Disc-Courtesy'
      ,[EmployeeFlag] 'Disc-Employee'
      ,[MilitaryDiscount] 'Disc-Military'
      ,[SeniorDiscount] 'Disc-Senior'
      ,[PointPause] 'Disc-PointPause'
      ,[HasPackage] 'Pkg-HasPackage'
      ,[Package] 'Pkg-Name'
      ,[TotalPackageCharge] 'Pkg-Charge'
      ,[TotalPackageChargeNet] 'Pkg-Net'
      ,[UnallocatedPackageCharge] 'Pkg-UnallocatedCharge'
	  ,[PackageAllocation] 'Pkg-Allocation'
      ,[HasData] 'Data-HasData'
      ,[HasDataSvc] 'Data-HasDataService'
      ,[DataCategory] 'Data-Category'
      ,[DataSvc] 'Data-Service'
      ,[DataServiceCharge] 'Data-ServiceCharge'
      ,[DataServiceNetCharge] 'Data-ServiceNet'
      ,[HasSmartHome] 'Data-HasSmartHome'
      ,[SmartHomeServiceCharge]  'Data-SmartHomeCharge'
      ,[SmartHomeServiceNetCharge] 'Data-SmartHomeNet'
      ,[HasSmartHomePod] 'Data-HasSmartPod'
      ,[SmartHomePodCharge] 'Data-SmartPodCharge'
      ,[SmartHomePodNetCharge] 'Data-SmartHomePodNet'
      ,[HasPointGuard] 'Data-HasPointGuard'
      ,[PointGuardCharge] 'Data-PointGuardCharge'
      ,[PointGuardNetCharge] 'Data-PointGuardNet'
      ,[DataAddOnCharge] 'Data-AddOnCharge'
      ,[DataAddOnNetCharge] 'Data-AddOnNet'
      ,[HasCable] 'Cable-HasCable'
      ,[HasCableSvc] 'Cable-HasCableService'
      ,[CableCategory] 'Cable-Category'
      ,[CableSvc] 'Cable-Service'
      ,[CableServiceCharge] 'Cable-ServiceCharge'
      ,[CableServiceNetCharge] 'Cable-ServiceNet'
      ,[HasHBO] 'Cable-HasHBO'
      ,[HBOServiceCharge] 'Cable-HBOCharge'
      ,[HBONetCharge] 'Cable-HBONet'
      ,[HasCinemax] 'Cable-HasCinemax'
      ,[CinemaxServiceCharge] 'Cable-CinemaxCharge'
      ,[CinemaxNetCharge] 'Cable-CinemaxNet'
      ,[HasShowtime] 'Cable-HasShowtime'
      ,[ShowtimeServiceCharge] 'Cable-ShowtimeCharge'
      ,[ShowtimeNetCharge] 'Cable-ShowtimeNet'
      ,[HasStarz] 'Cable-HasStarz'
      ,[StarzServiceCharge] 'Cable-StarzCharge'
      ,[StarzNetCharge] 'Cable-StarzNet'
      ,[CableAddOnCharge] 'Cable-AddOnCharge'
      ,[CableAddOnNetCharge] 'Cable-AddOnNet'
      ,[HasPhone] 'Phone-HasPhone'
      ,[HasPhoneSvc] 'Phone-HasPhoneService'
      ,[HasComplexPhoneSvc] 'Phone-HasComplexPhoneService'
      ,[PhoneSvc] 'Phone-Service'
      ,[PhoneServiceCharge] 'Phone-ServiceCharge'
      ,[PhoneServiceNetCharge] 'Phone-ServiceNet'
      ,[PhoneAddOnCharge] 'Phone-AddOnCharge'
      ,[PhoneAddOnNetCharge] 'Phone-AddOnNet'
      ,[HasPromo] 'Promo-HasPromo'
      ,[PromoCharge] 'Promo-Charge'
      ,[PromoNetCharge] 'Promo-Net'
      ,[HasTaxOrFee] 'Tax-HasTaxOrFee'
      ,[TaxFeeCharge] 'Tax-Charge'
      ,[TaxFeeNetCharge] 'Tax-Net'
      ,[HasOther] 'Other-HasOther'
      ,[OtherCharge] 'Other-Charge'
      ,[OtherNetCharge] 'Other-Net'
      ,[TotalCharge] 'TotalCharge'

  FROM [dbo].[PBB_ProductAnalysisDetails]




GO
