USE [PBBPDW01]
GO
/****** Object:  Table [dbo].[Sales_Rabbit_addresses_11132023]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales_Rabbit_addresses_11132023](
	[LeadOwner] [varchar](150) NULL,
	[OrgUnit] [varchar](150) NULL,
	[Address1] [varchar](150) NULL,
	[Address2] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[Zip] [varchar](150) NULL,
	[Latitude] [varchar](150) NULL,
	[Longitude] [varchar](150) NULL,
	[Status] [varchar](150) NULL,
	[Project Name] [varchar](150) NULL
) ON [PRIMARY]
GO
