USE [PBBPDW01]
GO
/****** Object:  Table [dbo].[SDM_Conv_SO]    Script Date: 12/5/2023 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SDM_Conv_SO](
	[ServiceOrderCode] [varchar](50) NULL
) ON [PRIMARY]
GO
