USE [PBBPDW01]
GO
/****** Object:  Table [dbo].[_PridePBB_InactiveAccountAddress_data_12042023]    Script Date: 12/5/2023 4:42:57 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[_PridePBB_InactiveAccountAddress_data_12042023](
	[UseLocationID] [int] NOT NULL,
	[CreatedOn] [date] NULL,
	[FullStreetAddress] [varchar](8000) NULL,
	[HouseNumber] [nvarchar](10) NULL,
	[HouseSuffix] [nvarchar](4) NULL,
	[PreDirectional] [nvarchar](20) NULL,
	[Street] [nvarchar](40) NULL,
	[StreetSuffix] [varchar](20) NULL,
	[PostDirectional] [nvarchar](20) NULL,
	[Apartment] [nvarchar](75) NULL,
	[Room] [nvarchar](30) NULL,
	[Floor] [nvarchar](4) NULL,
	[City] [nvarchar](28) NULL,
	[State] [nvarchar](7) NULL,
	[PostalCode] [nvarchar](11) NULL,
	[PostalCodePlus4] [nvarchar](4) NULL,
	[PremiseType] [nvarchar](4000) NULL,
	[MDUName] [nvarchar](200) NULL,
	[Marketable] [nvarchar](4000) NULL,
	[LocationComment] [nvarchar](100) NULL,
	[ProjectCodeOld] [nvarchar](100) NULL,
	[Cabinet] [nvarchar](100) NULL,
	[CabinetOld] [nvarchar](100) NULL,
	[NetworkCabinet] [varchar](1) NOT NULL,
	[TaxAreaCode] [varchar](7) NULL,
	[Zone] [varchar](40) NULL,
	[Region] [nvarchar](100) NULL,
	[Latitude] [nvarchar](11) NULL,
	[Longitude] [nvarchar](11) NULL,
	[CensusStateCode] [nvarchar](2) NULL,
	[CensusCountyCode] [nvarchar](3) NULL,
	[CensusTract] [nvarchar](7) NULL,
	[CensusBlock] [nvarchar](4) NULL,
	[Serviceable] [nvarchar](4000) NULL,
	[Data] [nvarchar](4000) NULL,
	[CATV] [nvarchar](4000) NULL,
	[CATVDigital] [nvarchar](4000) NULL,
	[Phone] [nvarchar](4000) NULL,
	[FixedWireless] [nvarchar](4000) NULL,
	[NonServiceableReason] [nvarchar](4000) NULL,
	[Fiber] [nvarchar](4000) NULL,
	[DefaultNetworkDelivery] [nvarchar](4000) NULL,
	[FundType] [varchar](max) NULL,
	[FundTypeId] [varchar](max) NULL,
	[ExternalID] [nvarchar](250) NULL,
	[VetroCircuitID] [nvarchar](100) NULL,
	[LoadDate] [datetime] NULL,
	[Modified By] [nvarchar](200) NULL,
	[LocationID] [int] NOT NULL,
	[AccountID] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
