USE [PBBPDW01]
GO
/****** Object:  Table [StgPbbDW].[PBB_FMNetworkModelAnalysis]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [StgPbbDW].[PBB_FMNetworkModelAnalysis](
	[CircuitID] [int] NOT NULL,
	[DimCircuitId] [int] NOT NULL,
	[DimAccountID] [int] NOT NULL,
	[FMAddressID] [int] NULL,
	[CircuitStatus] [nvarchar](50) NOT NULL,
	[CircuitType] [nvarchar](50) NOT NULL,
	[CircuitGrade] [nvarchar](50) NOT NULL,
	[DimServiceLocationId] [int] NOT NULL,
	[Omnia_SrvItemLocationID] [int] NULL,
	[AccountName] [nvarchar](168) NOT NULL,
	[AccountCode] [nvarchar](20) NOT NULL,
	[AccountStatus] [nvarchar](256) NOT NULL,
	[AccountGroupCode] [nvarchar](20) NOT NULL,
	[ServiceLocationFullAddress] [nvarchar](300) NULL,
	[HouseNumber] [varchar](10) NULL,
	[Street] [varchar](40) NULL,
	[City] [varchar](28) NULL,
	[STATE] [varchar](50) NULL,
	[Zip] [char](11) NULL,
	[Latitude] [varchar](11) NULL,
	[Longitude] [varchar](11) NULL,
	[Cabinet] [nvarchar](100) NULL,
	[NetworkCircuitID] [int] NULL,
	[FacilityName] [nvarchar](50) NULL,
	[facilitystatus] [nvarchar](50) NULL,
	[FacilityType] [nvarchar](50) NULL,
	[EQUIPMENT_Id] [int] NULL,
	[EquipmentLCE] [nvarchar](100) NULL,
	[EquipmentType] [nvarchar](50) NULL,
	[EquipmentStatus] [nvarchar](50) NULL,
	[EquipmentEquipmentType] [nvarchar](50) NULL,
	[Serial] [nvarchar](4000) NULL,
	[TOR] [int] NULL,
	[Switch] [int] NULL,
	[Port] [nvarchar](1) NULL,
	[IP Address] [int] NULL,
	[PlumePod] [varchar](1) NULL,
	[SpeedTier] [nvarchar](107) NULL,
	[Plume Router] [nvarchar](4000) NULL,
	[Data Modem] [nvarchar](4000) NULL,
	[Set Top Box] [nvarchar](4000) NULL,
	[Residential Gateway] [nvarchar](4000) NULL,
	[ATA] [nvarchar](4000) NULL,
	[MetaRowKey] [varchar](2000) NOT NULL,
	[MetaRowKeyFields] [varchar](2000) NOT NULL,
	[MetaRowHash] [varbinary](200) NOT NULL,
	[MetaSourceSystemCode] [varchar](100) NOT NULL,
	[MetaInsertDateTime] [datetime] NOT NULL,
	[MetaUpdateDateTime] [datetime] NOT NULL,
	[MetaOperationCode] [char](1) NOT NULL,
	[MetaDataQualityStatusId] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
