USE [PBBPDW01]
GO
/****** Object:  Table [transient].[SalesOrderDetailBase]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [transient].[SalesOrderDetailBase](
	[SalesOrderDetailId] [uniqueidentifier] NOT NULL,
	[SalesOrderId] [uniqueidentifier] NOT NULL,
	[SalesRepId] [uniqueidentifier] NULL,
	[IsProductOverridden] [bit] NULL,
	[IsCopied] [bit] NULL,
	[QuantityShipped] [numeric](23, 10) NULL,
	[LineItemNumber] [int] NULL,
	[QuantityBackordered] [numeric](23, 10) NULL,
	[UoMId] [uniqueidentifier] NULL,
	[QuantityCancelled] [numeric](23, 10) NULL,
	[ProductId] [uniqueidentifier] NULL,
	[RequestDeliveryBy] [datetime] NULL,
	[Quantity] [numeric](23, 10) NULL,
	[PricingErrorCode] [int] NULL,
	[ManualDiscountAmount] [money] NULL,
	[ProductDescription] [nvarchar](500) NULL,
	[VolumeDiscountAmount] [money] NULL,
	[PricePerUnit] [money] NULL,
	[BaseAmount] [money] NULL,
	[ExtendedAmount] [money] NULL,
	[Description] [nvarchar](max) NULL,
	[IsPriceOverridden] [bit] NULL,
	[ShipTo_Name] [nvarchar](200) NULL,
	[Tax] [money] NULL,
	[CreatedOn] [datetime] NULL,
	[ShipTo_Line1] [nvarchar](4000) NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[ShipTo_Line2] [nvarchar](4000) NULL,
	[ShipTo_Line3] [nvarchar](4000) NULL,
	[ModifiedOn] [datetime] NULL,
	[ShipTo_City] [nvarchar](80) NULL,
	[ShipTo_StateOrProvince] [nvarchar](50) NULL,
	[ShipTo_Country] [nvarchar](80) NULL,
	[ShipTo_PostalCode] [nvarchar](20) NULL,
	[WillCall] [bit] NULL,
	[ShipTo_Telephone] [nvarchar](50) NULL,
	[ShipTo_Fax] [nvarchar](50) NULL,
	[ShipTo_FreightTermsCode] [int] NULL,
	[ShipTo_ContactName] [nvarchar](150) NULL,
	[VersionNumber] [timestamp] NULL,
	[ShipTo_AddressId] [uniqueidentifier] NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[ImportSequenceNumber] [int] NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[ExchangeRate] [numeric](23, 10) NULL,
	[OverriddenCreatedOn] [datetime] NULL,
	[TransactionCurrencyId] [uniqueidentifier] NULL,
	[BaseAmount_Base] [money] NULL,
	[PricePerUnit_Base] [money] NULL,
	[VolumeDiscountAmount_Base] [money] NULL,
	[ExtendedAmount_Base] [money] NULL,
	[Tax_Base] [money] NULL,
	[ManualDiscountAmount_Base] [money] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[SequenceNumber] [int] NULL,
	[ProductAssociationId] [uniqueidentifier] NULL,
	[ParentBundleId] [uniqueidentifier] NULL,
	[ProductTypeCode] [int] NOT NULL,
	[PropertyConfigurationStatus] [int] NOT NULL,
	[chr_occomponentid] [int] NULL,
	[chr_ProductChargeType] [int] NULL,
	[chr_ProductType] [int] NULL,
	[chr_RevenueClassification] [uniqueidentifier] NULL,
	[chr_EffectiveDate] [datetime] NULL,
	[chr_ProvisioningDate] [datetime] NULL,
	[cus_Equipment] [nvarchar](5) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
