USE [PBBPDW01]
GO
/****** Object:  Table [transient].[chr_servicelocationbase]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [transient].[chr_servicelocationbase](
	[chr_servicelocationId] [uniqueidentifier] NOT NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[OrganizationId] [uniqueidentifier] NULL,
	[statecode] [int] NOT NULL,
	[statuscode] [int] NULL,
	[VersionNumber] [timestamp] NULL,
	[ImportSequenceNumber] [int] NULL,
	[OverriddenCreatedOn] [datetime] NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[chr_name] [nvarchar](256) NULL,
	[chr_addressline1] [nvarchar](115) NULL,
	[chr_addressline2] [nvarchar](80) NULL,
	[chr_addressline3] [nvarchar](75) NULL,
	[chr_apartment] [nvarchar](75) NULL,
	[chr_censusblock] [nvarchar](4) NULL,
	[chr_censuscountycode] [nvarchar](3) NULL,
	[chr_censusstatecode] [nvarchar](2) NULL,
	[chr_censustract] [nvarchar](7) NULL,
	[chr_city] [nvarchar](28) NULL,
	[chr_ContactId] [uniqueidentifier] NULL,
	[chr_ContractId] [uniqueidentifier] NULL,
	[chr_country] [nvarchar](50) NULL,
	[chr_floor] [nvarchar](4) NULL,
	[chr_housenumber] [nvarchar](10) NULL,
	[chr_housesuffix] [nvarchar](4) NULL,
	[chr_latitude] [nvarchar](11) NULL,
	[chr_locationdescription] [nvarchar](80) NULL,
	[chr_longitude] [nvarchar](11) NULL,
	[chr_masterlocationid] [nvarchar](50) NULL,
	[chr_postalcode] [nvarchar](11) NULL,
	[chr_postalcodefull] [nvarchar](16) NULL,
	[chr_postalcodeplus4] [nvarchar](4) NULL,
	[chr_postdirectional] [nvarchar](20) NULL,
	[chr_predirectional] [nvarchar](20) NULL,
	[chr_RegionId] [uniqueidentifier] NULL,
	[chr_room] [nvarchar](30) NULL,
	[chr_SiteId] [uniqueidentifier] NULL,
	[chr_stateorprovince] [nvarchar](7) NULL,
	[chr_street] [nvarchar](40) NULL,
	[chr_streetsuffix] [nvarchar](20) NULL,
	[chr_taxareaid] [uniqueidentifier] NULL,
	[chr_locationzone] [nvarchar](40) NULL,
	[cus_Serviceable] [int] NULL,
	[cus_Fiber] [int] NULL,
	[cus_FixedWireless] [int] NULL,
	[cus_NonServiceableReason] [int] NULL,
	[cus_ProjectCode] [nvarchar](100) NULL,
	[cus_Phone] [int] NULL,
	[cus_Data] [int] NULL,
	[cus_CATV] [int] NULL,
	[cus_CATVDigital] [int] NULL,
	[cus_DefaultNetworkDelivery] [int] NULL,
	[cus_VetroCircuitID] [nvarchar](100) NULL,
	[cus_FundType] [int] NULL,
	[cus_FundTypeID] [nvarchar](50) NULL,
	[cus_LoadDate] [datetime] NULL,
	[cus_Cabinet] [nvarchar](100) NULL,
	[cus_BuildingId] [uniqueidentifier] NULL,
	[cus_DmarcDetails] [nvarchar](max) NULL,
	[cus_PremiseType] [int] NULL,
	[cus_ExternalID] [nvarchar](250) NULL,
	[cus_Marketable] [bit] NULL,
	[cus_Project] [uniqueidentifier] NULL,
	[cus_CabinetName] [uniqueidentifier] NULL,
	[cus_ServiceLocationsId] [uniqueidentifier] NULL,
	[cus_AddressSubsidySourceId] [uniqueidentifier] NULL,
	[cus_rooftop] [int] NULL,
	[cus_BoringRequired] [int] NULL,
	[cus_DropLength] [int] NULL,
	[cus_DropType] [int] NULL,
	[cus_DropPlacement] [int] NULL,
	[cus_EBAPRequired] [int] NULL,
	[cus_ActivationFeeRequired] [int] NULL,
	[cus_ExpectedServiceabilityDate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
