USE [PBBPDW01]
GO
/****** Object:  Table [transient].[account]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [transient].[account](
	[PreferredEquipmentIdName] [nvarchar](160) NULL,
	[PrimaryContactIdName] [nvarchar](160) NULL,
	[ModifiedOnBehalfByYomiName] [nvarchar](200) NULL,
	[chr_SalesAgentIdName] [nvarchar](100) NULL,
	[PreferredSystemUserIdYomiName] [nvarchar](200) NULL,
	[chr_AccountStatusIdName] [nvarchar](40) NULL,
	[MasterAccountIdYomiName] [nvarchar](160) NULL,
	[chr_StateIdName] [nvarchar](50) NULL,
	[CreatedByYomiName] [nvarchar](200) NULL,
	[CreatedByExternalPartyYomiName] [nvarchar](450) NULL,
	[SLAName] [nvarchar](160) NULL,
	[PrimaryContactIdYomiName] [nvarchar](450) NULL,
	[chr_partner_modifiedbycontactYomiName] [nvarchar](450) NULL,
	[TerritoryIdName] [nvarchar](200) NULL,
	[chr_partner_createdbycontactName] [nvarchar](160) NULL,
	[ModifiedOnBehalfByName] [nvarchar](200) NULL,
	[chr_AccountGroupIdName] [nvarchar](256) NULL,
	[MasterAccountIdName] [nvarchar](160) NULL,
	[chr_CustomerServiceRegionIdName] [nvarchar](256) NULL,
	[ModifiedByName] [nvarchar](200) NULL,
	[chr_AccountClassIdName] [nvarchar](256) NULL,
	[EntityImage_Timestamp] [bigint] NULL,
	[ParentAccountIdName] [nvarchar](160) NULL,
	[CreatedOnBehalfByName] [nvarchar](200) NULL,
	[TransactionCurrencyIdName] [nvarchar](100) NULL,
	[EntityImage_URL] [nvarchar](200) NULL,
	[chr_SegmentIdName] [nvarchar](1000) NULL,
	[chr_PrintGroupIDName] [nvarchar](40) NULL,
	[EntityImage] [image] NULL,
	[ParentAccountIdYomiName] [nvarchar](160) NULL,
	[chr_CycleIdName] [nvarchar](256) NULL,
	[CreatedByExternalPartyName] [nvarchar](300) NULL,
	[chr_VerificationMethodIdName] [nvarchar](256) NULL,
	[chr_AgentIdYomiName] [nvarchar](200) NULL,
	[chr_AccountTypeIdName] [nvarchar](100) NULL,
	[chr_partner_modifiedbycontactName] [nvarchar](160) NULL,
	[CreatedByName] [nvarchar](200) NULL,
	[CreatedOnBehalfByYomiName] [nvarchar](200) NULL,
	[chr_AgentIdName] [nvarchar](200) NULL,
	[ModifiedByYomiName] [nvarchar](200) NULL,
	[chr_partner_createdbycontactYomiName] [nvarchar](450) NULL,
	[PreferredSystemUserIdName] [nvarchar](200) NULL,
	[cus_AccountsIdName] [nvarchar](200) NULL,
	[chr_ExemptClassIdName] [nvarchar](256) NULL,
	[SLAInvokedIdName] [nvarchar](160) NULL,
	[PreferredServiceIdName] [nvarchar](160) NULL,
	[OriginatingLeadIdYomiName] [nvarchar](450) NULL,
	[OriginatingLeadIdName] [nvarchar](160) NULL,
	[ModifiedByExternalPartyName] [nvarchar](300) NULL,
	[chr_InvoiceFormatIdName] [nvarchar](256) NULL,
	[ModifiedByExternalPartyYomiName] [nvarchar](450) NULL,
	[chr_DesiredCycleIDName] [nvarchar](256) NULL,
	[DefaultPriceLevelIdName] [nvarchar](100) NULL,
	[Address1_AddressTypeCode] [int] NULL,
	[Address1_City] [nvarchar](4000) NULL,
	[Address1_Composite] [nvarchar](max) NULL,
	[Address1_Country] [nvarchar](4000) NULL,
	[Address1_County] [nvarchar](4000) NULL,
	[Address1_AddressId] [uniqueidentifier] NULL,
	[Address1_Fax] [nvarchar](50) NULL,
	[Address1_FreightTermsCode] [int] NULL,
	[Address1_Latitude] [float] NULL,
	[Address1_Line1] [nvarchar](4000) NULL,
	[Address1_Line2] [nvarchar](4000) NULL,
	[Address1_Line3] [nvarchar](4000) NULL,
	[Address1_Longitude] [float] NULL,
	[Address1_Name] [nvarchar](200) NULL,
	[Address1_PostalCode] [nvarchar](4000) NULL,
	[Address1_PostOfficeBox] [nvarchar](4000) NULL,
	[Address1_PrimaryContactName] [nvarchar](150) NULL,
	[Address1_ShippingMethodCode] [int] NULL,
	[Address1_StateOrProvince] [nvarchar](4000) NULL,
	[Address1_Telephone1] [nvarchar](50) NULL,
	[Address1_Telephone2] [nvarchar](50) NULL,
	[Address1_Telephone3] [nvarchar](50) NULL,
	[Address1_UPSZone] [nvarchar](4) NULL,
	[Address1_UTCOffset] [int] NULL,
	[Address2_AddressTypeCode] [int] NULL,
	[Address2_City] [nvarchar](4000) NULL,
	[Address2_Composite] [nvarchar](max) NULL,
	[Address2_Country] [nvarchar](4000) NULL,
	[Address2_County] [nvarchar](4000) NULL,
	[Address2_AddressId] [uniqueidentifier] NULL,
	[Address2_Fax] [nvarchar](50) NULL,
	[Address2_FreightTermsCode] [int] NULL,
	[Address2_Latitude] [float] NULL,
	[Address2_Line1] [nvarchar](4000) NULL,
	[Address2_Line2] [nvarchar](4000) NULL,
	[Address2_Line3] [nvarchar](4000) NULL,
	[Address2_Longitude] [float] NULL,
	[Address2_Name] [nvarchar](200) NULL,
	[Address2_PostalCode] [nvarchar](4000) NULL,
	[Address2_PostOfficeBox] [nvarchar](4000) NULL,
	[Address2_PrimaryContactName] [nvarchar](150) NULL,
	[Address2_ShippingMethodCode] [int] NULL,
	[Address2_StateOrProvince] [nvarchar](4000) NULL,
	[Address2_Telephone1] [nvarchar](50) NULL,
	[Address2_Telephone2] [nvarchar](50) NULL,
	[Address2_Telephone3] [nvarchar](50) NULL,
	[Address2_UPSZone] [nvarchar](4) NULL,
	[Address2_UTCOffset] [int] NULL,
	[OwnerId] [uniqueidentifier] NOT NULL,
	[OwnerIdName] [nvarchar](160) NULL,
	[OwnerIdYomiName] [nvarchar](160) NULL,
	[OwnerIdDsc] [int] NOT NULL,
	[OwnerIdType] [int] NULL,
	[OwningUser] [uniqueidentifier] NULL,
	[OwningTeam] [uniqueidentifier] NULL,
	[AccountId] [uniqueidentifier] NOT NULL,
	[AccountCategoryCode] [int] NULL,
	[TerritoryId] [uniqueidentifier] NULL,
	[DefaultPriceLevelId] [uniqueidentifier] NULL,
	[CustomerSizeCode] [int] NULL,
	[PreferredContactMethodCode] [int] NULL,
	[CustomerTypeCode] [int] NULL,
	[AccountRatingCode] [int] NULL,
	[IndustryCode] [int] NULL,
	[TerritoryCode] [int] NULL,
	[AccountClassificationCode] [int] NULL,
	[BusinessTypeCode] [int] NULL,
	[OwningBusinessUnit] [uniqueidentifier] NULL,
	[TraversedPath] [nvarchar](1250) NULL,
	[OriginatingLeadId] [uniqueidentifier] NULL,
	[PaymentTermsCode] [int] NULL,
	[ShippingMethodCode] [int] NULL,
	[PrimaryContactId] [uniqueidentifier] NULL,
	[ParticipatesInWorkflow] [bit] NULL,
	[Name] [nvarchar](160) NULL,
	[AccountNumber] [nvarchar](20) NULL,
	[Revenue] [money] NULL,
	[NumberOfEmployees] [int] NULL,
	[Description] [nvarchar](max) NULL,
	[SIC] [nvarchar](20) NULL,
	[OwnershipCode] [int] NULL,
	[MarketCap] [money] NULL,
	[SharesOutstanding] [int] NULL,
	[TickerSymbol] [nvarchar](10) NULL,
	[StockExchange] [nvarchar](20) NULL,
	[WebSiteURL] [nvarchar](200) NULL,
	[FtpSiteURL] [nvarchar](200) NULL,
	[EMailAddress1] [nvarchar](100) NULL,
	[EMailAddress2] [nvarchar](100) NULL,
	[EMailAddress3] [nvarchar](100) NULL,
	[DoNotPhone] [bit] NULL,
	[DoNotFax] [bit] NULL,
	[Telephone1] [nvarchar](50) NULL,
	[DoNotEMail] [bit] NULL,
	[Telephone2] [nvarchar](50) NULL,
	[Fax] [nvarchar](50) NULL,
	[Telephone3] [nvarchar](50) NULL,
	[DoNotPostalMail] [bit] NULL,
	[DoNotBulkEMail] [bit] NULL,
	[DoNotBulkPostalMail] [bit] NULL,
	[CreditLimit] [money] NULL,
	[CreditOnHold] [bit] NULL,
	[IsPrivate] [bit] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [uniqueidentifier] NULL,
	[ModifiedOn] [datetime] NULL,
	[ModifiedBy] [uniqueidentifier] NULL,
	[VersionNumber] [timestamp] NULL,
	[ParentAccountId] [uniqueidentifier] NULL,
	[Aging30] [money] NULL,
	[StateCode] [int] NOT NULL,
	[Aging60] [money] NULL,
	[StatusCode] [int] NULL,
	[Aging90] [money] NULL,
	[PreferredAppointmentDayCode] [int] NULL,
	[PreferredSystemUserId] [uniqueidentifier] NULL,
	[PreferredAppointmentTimeCode] [int] NULL,
	[Merged] [bit] NULL,
	[DoNotSendMM] [bit] NULL,
	[MasterId] [uniqueidentifier] NULL,
	[LastUsedInCampaign] [datetime] NULL,
	[PreferredServiceId] [uniqueidentifier] NULL,
	[PreferredEquipmentId] [uniqueidentifier] NULL,
	[ExchangeRate] [numeric](23, 10) NULL,
	[UTCConversionTimeZoneCode] [int] NULL,
	[OverriddenCreatedOn] [datetime] NULL,
	[TimeZoneRuleVersionNumber] [int] NULL,
	[ImportSequenceNumber] [int] NULL,
	[TransactionCurrencyId] [uniqueidentifier] NULL,
	[CreditLimit_Base] [money] NULL,
	[Aging30_Base] [money] NULL,
	[Revenue_Base] [money] NULL,
	[Aging90_Base] [money] NULL,
	[MarketCap_Base] [money] NULL,
	[Aging60_Base] [money] NULL,
	[YomiName] [nvarchar](160) NULL,
	[CreatedOnBehalfBy] [uniqueidentifier] NULL,
	[ModifiedOnBehalfBy] [uniqueidentifier] NULL,
	[StageId] [uniqueidentifier] NULL,
	[ProcessId] [uniqueidentifier] NULL,
	[EntityImageId] [uniqueidentifier] NULL,
	[OpenDeals] [int] NULL,
	[OpenDeals_Date] [datetime] NULL,
	[OpenDeals_State] [int] NULL,
	[OpenRevenue] [money] NULL,
	[OpenRevenue_Base] [money] NULL,
	[OpenRevenue_Date] [datetime] NULL,
	[OpenRevenue_State] [int] NULL,
	[CreatedByExternalParty] [uniqueidentifier] NULL,
	[ModifiedByExternalParty] [uniqueidentifier] NULL,
	[PrimarySatoriId] [nvarchar](200) NULL,
	[PrimaryTwitterId] [nvarchar](20) NULL,
	[SLAId] [uniqueidentifier] NULL,
	[SLAInvokedId] [uniqueidentifier] NULL,
	[OnHoldTime] [int] NULL,
	[LastOnHoldTime] [datetime] NULL,
	[chr_AccountId] [int] NULL,
	[chr_CycleId] [uniqueidentifier] NULL,
	[chr_ExemptClassId] [uniqueidentifier] NULL,
	[chr_InvoiceFormatId] [uniqueidentifier] NULL,
	[chr_SalesAgentId] [uniqueidentifier] NULL,
	[chr_AccountActivationDate] [datetime] NULL,
	[chr_AccountClassId] [uniqueidentifier] NULL,
	[chr_AccountDeactivationDate] [datetime] NULL,
	[chr_AccountGroupId] [uniqueidentifier] NULL,
	[chr_AccountStatusId] [uniqueidentifier] NULL,
	[chr_AccountTypeId] [uniqueidentifier] NULL,
	[chr_AgentId] [uniqueidentifier] NULL,
	[chr_Attention] [nvarchar](50) NULL,
	[chr_BirthDate] [datetime] NULL,
	[chr_CreditLastUpdated] [nvarchar](100) NULL,
	[chr_CreditScore] [int] NULL,
	[chr_CusAccountVersion] [int] NULL,
	[chr_CustomerServiceRegionId] [uniqueidentifier] NULL,
	[chr_DesiredCycleID] [uniqueidentifier] NULL,
	[chr_donottext] [bit] NULL,
	[chr_FederalTaxIDNumber] [nvarchar](100) NULL,
	[chr_ICPrintGroupAccountVersion] [int] NULL,
	[chr_IntegrationAccountId] [int] NULL,
	[chr_light] [nvarchar](100) NULL,
	[chr_NamContactVersion] [int] NULL,
	[chr_NumOfBilledThruDate] [int] NULL,
	[chr_OptInFlag] [bit] NULL,
	[chr_OptInStatus] [nvarchar](1) NULL,
	[chr_OptInStatusDate] [datetime] NULL,
	[chr_OptOutFlag] [bit] NULL,
	[chr_OptOutStatus] [nvarchar](1) NULL,
	[chr_OptOutStatusDate] [datetime] NULL,
	[chr_OUECreditRequestId] [nvarchar](100) NULL,
	[chr_OUELight] [nvarchar](100) NULL,
	[chr_Password] [nvarchar](max) NULL,
	[chr_PasswordDate] [datetime] NULL,
	[chr_PrintGroupID] [uniqueidentifier] NULL,
	[chr_reportid] [nvarchar](100) NULL,
	[chr_ResponsibleFlag] [bit] NULL,
	[chr_SegmentId] [uniqueidentifier] NULL,
	[chr_SocialSecurityNumber] [nvarchar](100) NULL,
	[chr_SSNLast4Digits] [nvarchar](4) NULL,
	[chr_StateId] [uniqueidentifier] NULL,
	[chr_VerificationMethodId] [uniqueidentifier] NULL,
	[chr_partner_createdbycontact] [uniqueidentifier] NULL,
	[chr_partner_modifiedbycontact] [uniqueidentifier] NULL,
	[chr_CPNIEmailAddress] [nvarchar](100) NULL,
	[chr_InvoiceTemplate] [int] NULL,
	[chr_PreferredMethodofNotification] [bit] NULL,
	[chr_ThirdPartyCustomerNumber] [nvarchar](100) NULL,
	[chr_ThirdPartyInvoiceNumber] [nvarchar](100) NULL,
	[chr_ThirdPartyWorkSite] [nvarchar](100) NULL,
	[new_prajna] [nvarchar](100) NULL,
	[cus_StaticIPAddress] [nvarchar](100) NULL,
	[cus_CPELink] [nvarchar](4000) NULL,
	[chr_accountsource] [int] NULL,
	[cus_FSL360AssignmentLink] [nvarchar](4000) NULL,
	[cus_AccountsId] [uniqueidentifier] NULL,
	[cus_VoiceSwitch] [int] NULL,
	[chr_dob] [datetime] NULL,
	[chr_invoicecopiesaccountbilling] [int] NULL,
	[chr_MailingName] [nvarchar](100) NULL,
	[chr_SODetailonInvoice] [bit] NULL,
	[cus_Twitter] [nvarchar](100) NULL,
	[cus_Facebook] [nvarchar](100) NULL,
	[cus_Instagram] [nvarchar](100) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
