USE [PBBPDW01]
GO
/****** Object:  Table [transient].[FactCustomerItem_InvalidDataOrgFact]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [transient].[FactCustomerItem_InvalidDataOrgFact](
	[SourceId] [varchar](65) NOT NULL
) ON [PRIMARY]
GO
