USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[FactProductAnalysis_pbb_o2]    Script Date: 12/5/2023 4:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[FactProductAnalysis_pbb_o2](
	[FactProductAnalysisId] [int] IDENTITY(1,1) NOT NULL,
	[DimAccountId] [int] NOT NULL,
	[DimServiceLocationID] [int] NOT NULL,
	[AccountGroupCode] [nvarchar](20) NULL,
	[AccountType] [nvarchar](20) NULL,
	[AccountCode] [nvarchar](20) NULL,
	[AccountName] [nvarchar](168) NULL,
	[AccountActivationDate] [date] NULL,
	[AccountDeactivationDate] [date] NULL,
	[AccountStatus] [nvarchar](256) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NULL,
	[CPNIEmail] [nvarchar](100) NULL,
	[Telephone1] [nvarchar](50) NULL,
	[Phone] [nvarchar](50) NULL,
	[Phone2] [nvarchar](50) NULL,
	[Phone3] [nvarchar](50) NULL,
	[PortalEmail] [varchar](255) NULL,
	[PortalUserExists] [varchar](1) NULL,
	[FirstServiceInstallDate] [date] NULL,
	[LastServiceDisconnectDate] [date] NULL,
	[ServiceAddress] [nvarchar](300) NULL,
	[ServiceStreetName] [varchar](40) NULL,
	[ServiceState] [varchar](50) NULL,
	[ServiceCity] [varchar](28) NULL,
	[ServicePostalCode] [char](11) NULL,
	[ServiceTaxArea] [varchar](40) NULL,
	[ServiceSalesRegion] [varchar](40) NULL,
	[ServiceProjectCode] [nvarchar](100) NULL,
	[BillingAddressLine1] [nvarchar](4000) NULL,
	[BillingAddressLine2] [nvarchar](4000) NULL,
	[BillingAddressLine3] [nvarchar](4000) NULL,
	[BillingAddressLine4] [nvarchar](4000) NULL,
	[BillingAddressCity] [nvarchar](4000) NULL,
	[BillingAddressState] [nvarchar](4000) NULL,
	[BillingAddressPostalCode] [nvarchar](4000) NULL,
	[CycleDescription] [varchar](40) NULL,
	[CycleNumber] [int] NULL,
	[Location Zone] [varchar](8000) NULL,
	[Cabinet] [nvarchar](100) NULL,
	[Wirecenter Region] [varchar](40) NULL,
	[FM AddressID] [int] NULL,
	[Omnia SrvItemLocationID] [int] NULL,
	[Internal] [varchar](1) NULL,
	[Courtesy] [varchar](1) NULL,
	[EmployeeFlag] [varchar](1) NULL,
	[MilitaryDiscount] [varchar](1) NULL,
	[SeniorDiscount] [varchar](1) NULL,
	[PointPause] [varchar](1) NULL,
	[Ebill_Flag] [varchar](1) NULL,
	[HasPackage] [varchar](1) NULL,
	[Package] [nvarchar](max) NULL,
	[TotalPackageCharge] [money] NULL,
	[TotalPackageChargeNet] [decimal](38, 7) NULL,
	[UnallocatedPackageCharge] [decimal](38, 6) NULL,
	[HasData] [varchar](1) NULL,
	[HasDataSvc] [varchar](1) NULL,
	[DataCategory] [varchar](12) NULL,
	[DataSvc] [nvarchar](max) NULL,
	[DataServiceCharge] [decimal](38, 6) NULL,
	[DataServiceNetCharge] [decimal](38, 6) NULL,
	[HasSmartHome] [varchar](1) NULL,
	[SmartHomeServiceCharge] [decimal](38, 6) NULL,
	[SmartHomeServiceNetCharge] [decimal](38, 6) NULL,
	[HasSmartHomePod] [varchar](1) NULL,
	[SmartHomePodCharge] [money] NULL,
	[SmartHomePodNetCharge] [money] NULL,
	[HasPointGuard] [varchar](1) NULL,
	[PointGuardCharge] [money] NULL,
	[PointGuardNetCharge] [money] NULL,
	[DataAddOnCharge] [money] NULL,
	[DataAddOnNetCharge] [money] NULL,
	[HasCable] [varchar](1) NULL,
	[HasCableSvc] [varchar](1) NULL,
	[CableCategory] [varchar](10) NULL,
	[CableSvc] [nvarchar](max) NULL,
	[CableServiceCharge] [money] NULL,
	[CableServiceNetCharge] [money] NULL,
	[HasHBO] [varchar](1) NULL,
	[HBOServiceCharge] [money] NULL,
	[HBONetCharge] [money] NULL,
	[HasCinemax] [varchar](1) NULL,
	[CinemaxServiceCharge] [money] NULL,
	[CinemaxNetCharge] [money] NULL,
	[HasShowtime] [varchar](1) NULL,
	[ShowtimeServiceCharge] [money] NULL,
	[ShowtimeNetCharge] [money] NULL,
	[HasStarz] [varchar](1) NULL,
	[StarzServiceCharge] [money] NULL,
	[StarzNetCharge] [money] NULL,
	[CableAddOnCharge] [money] NULL,
	[CableAddOnNetCharge] [money] NULL,
	[HasPhone] [varchar](1) NULL,
	[HasPhoneSvc] [varchar](1) NULL,
	[HasComplexPhoneSvc] [varchar](1) NULL,
	[PhoneSvc] [nvarchar](max) NULL,
	[PhoneServiceCharge] [decimal](38, 6) NULL,
	[PhoneServiceNetCharge] [decimal](38, 6) NULL,
	[PhoneAddOnCharge] [decimal](38, 6) NULL,
	[PhoneAddOnNetCharge] [decimal](38, 6) NULL,
	[HasPromo] [varchar](1) NULL,
	[PromoCharge] [decimal](38, 6) NULL,
	[PromoNetCharge] [decimal](38, 6) NULL,
	[HasTaxOrFee] [varchar](1) NULL,
	[TaxFeeCharge] [money] NULL,
	[TaxFeeNetCharge] [money] NULL,
	[HasOther] [varchar](1) NULL,
	[OtherCharge] [money] NULL,
	[OtherNetCharge] [money] NULL,
	[AutoPay] [nvarchar](max) NULL,
	[TotalCharge] [decimal](38, 6) NULL,
	[PackageAllocation] [varchar](19) NULL,
	[Reason] [varchar](max) NULL,
	[EffectiveStartDate] [date] NULL,
	[EffectiveEndDate] [date] NULL,
 CONSTRAINT [PK_FactProductAnalysis_pbb_1] PRIMARY KEY CLUSTERED 
(
	[FactProductAnalysisId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
