USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[PBB_AccountStatusExcludeNRCIgnored]    Script Date: 12/5/2023 4:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[PBB_AccountStatusExcludeNRCIgnored](
	[FactServiceLocationItem_pbbSourceID] [nvarchar](400) NOT NULL
) ON [PRIMARY]
GO
