USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimAppointment_pbb]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimAppointment_pbb](
	[pbb_DimAppointmentId] [int] IDENTITY(1,1) NOT NULL,
	[ActivityId] [nvarchar](400) NOT NULL,
	[pbb_SFLAppointmentID] [nvarchar](100) NOT NULL,
	[pbb_SFLAppointmentStatus] [nvarchar](100) NOT NULL,
	[pbb_SFLAppointmentURL] [nvarchar](4000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[pbb_DimAppointmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ActivityId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
