USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[FactCpniEvent]    Script Date: 12/5/2023 4:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[FactCpniEvent](
	[FactCpniEventId] [int] IDENTITY(1,1) NOT NULL,
	[chr_AccountCPNIEventScreenId] [nvarchar](400) NOT NULL,
	[DimCpniEventId] [int] NOT NULL,
	[DimAccountId] [int] NOT NULL,
	[DimAccountCategoryId] [int] NOT NULL,
	[EventCreated_DimDate_DateId] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FactCpniEventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
