USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[PrdComponentMap_working]    Script Date: 12/5/2023 4:43:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[PrdComponentMap_working](
	[ComponentID] [int] NOT NULL,
	[ComponentCode] [nvarchar](50) NOT NULL,
	[Component] [nvarchar](50) NOT NULL,
	[Service_Level_Decision] [nvarchar](50) NOT NULL,
	[IsService] [nvarchar](50) NOT NULL,
	[ComponentClassID] [int] NOT NULL,
	[ComponentClass] [nvarchar](50) NOT NULL,
	[CompInUse] [nvarchar](50) NOT NULL,
	[IsOther] [int] NOT NULL,
	[IsData] [int] NOT NULL,
	[IsDataSvc] [int] NOT NULL,
	[SpeedTier] [nvarchar](50) NULL,
	[IsPhone] [int] NOT NULL,
	[IsLocalPhn] [int] NOT NULL,
	[IsCable] [int] NOT NULL,
	[IsCableSvc] [int] NOT NULL,
	[HBOBulk] [int] NOT NULL,
	[HBOSA] [int] NOT NULL,
	[HBOQV] [int] NOT NULL,
	[Cinemax_Standalone_SA] [int] NOT NULL,
	[Cinemax_Standalone_QV] [int] NOT NULL,
	[Cinemax_Pkg_SA] [int] NOT NULL,
	[Cinemax_pkg_qv] [int] NOT NULL,
	[Showtime_SA] [int] NOT NULL,
	[Showtime_QV] [int] NOT NULL,
	[Starz_SA] [int] NOT NULL,
	[Starz_QV] [int] NOT NULL,
	[IsRF] [int] NOT NULL,
	[IsIPTV] [int] NOT NULL,
	[IsCableManual] [int] NOT NULL,
	[IsPromo] [int] NOT NULL,
	[IsNRC_Scheduling] [int] NOT NULL,
	[IsSmartHome] [int] NOT NULL,
	[IsSmartHomePod] [int] NOT NULL,
	[IsSmartHomePromo] [int] NOT NULL,
	[IsPointGuard] [int] NOT NULL,
	[IsUnlimitedLD] [int] NOT NULL,
	[IsCallPlan] [int] NOT NULL,
	[IsIgnored] [int] NOT NULL,
	[IsUsed] [int] NOT NULL,
	[DownloadMB] [nvarchar](50) NOT NULL,
	[UploadMB] [nvarchar](50) NOT NULL,
	[New_DownloadMB] [nvarchar](50) NOT NULL,
	[New_UploadMB] [nvarchar](50) NOT NULL,
	[Market] [nvarchar](50) NOT NULL,
	[NonPub] [int] NOT NULL,
	[NonList] [int] NOT NULL,
	[ForeignList] [int] NOT NULL,
	[TollFree] [int] NOT NULL,
	[ISDID] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[Column_52] [nvarchar](50) NOT NULL,
	[Column_53] [nvarchar](50) NOT NULL,
	[Column_54] [nvarchar](50) NOT NULL,
	[Column_55] [nvarchar](850) NOT NULL,
	[IsHispanic] [int] NULL,
	[IsFreeHD] [int] NULL
) ON [PRIMARY]
GO
