USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[FactCustomerAccount_USE VIEW INSTEAD]    Script Date: 12/5/2023 4:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[FactCustomerAccount_USE VIEW INSTEAD](
	[id] [int] NULL
) ON [PRIMARY]
GO
