USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[FactAccountSet]    Script Date: 12/5/2023 4:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[FactAccountSet](
	[FactAccountSetId] [int] IDENTITY(1,1) NOT NULL,
	[DimAccountSetId] [int] NOT NULL,
	[DimAccountId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FactAccountSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
