USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimCustomerLineItem]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimCustomerLineItem](
	[DimCustomerLineItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[CustomerLineItemActivationDate] [date] NULL,
	[CustomerLineItemDeactivationDate] [date] NULL,
	[CustomerLineItemStatus] [varchar](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCustomerLineItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
