USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[stage_ProjPeneTrend]    Script Date: 12/5/2023 4:43:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[stage_ProjPeneTrend](
	[ProjectName] [varchar](100) NOT NULL,
	[Market] [varchar](100) NULL,
	[ProjectServiceableDate] [varchar](10) NULL,
	[ServiceableAddressCount] [smallint] NULL,
	[d20210705] [decimal](10, 9) NULL,
	[d20210712] [decimal](10, 9) NULL,
	[d20210719] [decimal](10, 9) NULL,
	[d20210726] [decimal](10, 9) NULL,
	[d20210802] [decimal](10, 9) NULL,
	[d20210809] [decimal](10, 9) NULL,
	[d20210816] [decimal](10, 9) NULL,
	[d20210823] [decimal](10, 9) NULL,
	[d20210830] [decimal](10, 9) NULL,
	[d20210906] [decimal](10, 9) NULL,
	[d20210913] [decimal](10, 9) NULL,
	[d20210920] [decimal](10, 9) NULL,
	[d20210927] [decimal](10, 9) NULL,
	[d20211004] [decimal](10, 9) NULL,
	[d20211011] [decimal](10, 9) NULL,
	[d20211018] [decimal](10, 9) NULL,
	[d20211025] [decimal](10, 9) NULL,
	[d20211101] [decimal](10, 9) NULL,
	[d20211108] [decimal](10, 9) NULL,
	[d20211115] [decimal](10, 9) NULL,
	[d20211122] [decimal](10, 9) NULL,
	[d20211129] [decimal](10, 9) NULL,
	[d20211206] [decimal](10, 9) NULL,
	[d20211213] [decimal](10, 9) NULL,
	[d20211220] [decimal](10, 9) NULL,
	[d20211227] [decimal](10, 9) NULL,
	[d20220103] [decimal](10, 9) NULL,
	[d20220110] [decimal](10, 9) NULL,
	[d20220117] [decimal](10, 9) NULL,
	[d20220124] [decimal](10, 9) NULL,
	[d20220131] [decimal](10, 9) NULL,
	[d20220207] [decimal](10, 9) NULL,
	[d20220214] [decimal](10, 9) NULL,
	[d20220221] [decimal](10, 9) NULL,
	[d20220228] [decimal](10, 9) NULL,
	[d20220307] [decimal](10, 9) NULL,
	[d20220314] [decimal](10, 9) NULL,
	[d20220321] [decimal](10, 9) NULL,
	[d20220328] [decimal](10, 9) NULL,
	[d20220404] [decimal](10, 9) NULL,
	[d20220411] [decimal](10, 9) NULL,
	[d20220418] [decimal](10, 9) NULL,
	[d20220425] [decimal](10, 9) NULL,
	[d20220502] [decimal](10, 9) NULL,
	[d20220509] [decimal](10, 9) NULL,
	[d20220516] [decimal](10, 9) NULL,
	[d20220523] [decimal](10, 9) NULL,
	[d20220530] [decimal](10, 9) NULL,
	[d20220606] [decimal](10, 9) NULL,
	[d20220613] [decimal](10, 9) NULL,
	[d20220620] [decimal](10, 9) NULL,
	[d20220627] [decimal](10, 9) NULL,
	[d20220704] [decimal](10, 9) NULL,
	[d20220711] [decimal](10, 9) NULL,
	[d20220718] [decimal](10, 9) NULL,
	[d20220725] [decimal](10, 9) NULL,
	[d20220801] [decimal](10, 9) NULL,
	[d20220808] [decimal](10, 9) NULL,
	[d20220815] [decimal](10, 9) NULL,
	[d20220822] [decimal](10, 9) NULL,
	[d20220901] [decimal](10, 9) NULL,
	[d20220916] [decimal](10, 9) NULL,
	[d20221001] [decimal](10, 9) NULL,
	[d20221016] [decimal](10, 9) NULL,
	[d20221101] [decimal](10, 9) NULL
) ON [PRIMARY]
GO
