USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[PBB_ServiceLocationItem]    Script Date: 12/5/2023 4:43:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[PBB_ServiceLocationItem](
	[LocationID] [int] NOT NULL,
	[CRMAccountId] [uniqueidentifier] NULL,
	[AccountStatus] [char](1) NULL,
	[ItemID] [int] NULL,
	[ItemStatus] [char](1) NULL,
	[ItemAmount] [numeric](15, 7) NULL,
	[ItemActivationDate] [smalldatetime] NULL,
	[ItemDeactivationDate] [smalldatetime] NULL,
	[PriceId] [int] NULL,
	[ComponentID] [int] NULL,
	[ComponentCode] [nvarchar](50) NULL,
	[Component] [nvarchar](50) NULL,
	[ComponentClassID] [int] NULL,
	[ComponentClass] [nvarchar](50) NULL,
	[IsData] [int] NULL,
	[IsDataSvc] [int] NULL,
	[SpeedTier] [nvarchar](50) NULL,
	[IsSmartHome] [int] NULL,
	[IsSmartHomePod] [int] NULL,
	[IsSmartHomePromo] [int] NULL,
	[IsPointGuard] [int] NULL,
	[DownloadMB] [nvarchar](50) NULL,
	[UploadMB] [nvarchar](50) NULL,
	[IsPhone] [int] NULL,
	[IsLocalPhn] [int] NULL,
	[IsUnlimitedLD] [int] NULL,
	[IsCallPlan] [int] NULL,
	[NonPub] [int] NULL,
	[NonList] [int] NULL,
	[ForeignList] [int] NULL,
	[TollFree] [int] NULL,
	[ISDID] [int] NULL,
	[IsCable] [int] NULL,
	[IsCableSvc] [int] NULL,
	[HBOBulk] [int] NULL,
	[HBOSA] [int] NULL,
	[HBOQV] [int] NULL,
	[Cinemax_Standalone_SA] [int] NULL,
	[Cinemax_Standalone_QV] [int] NULL,
	[Cinemax_Pkg_SA] [int] NULL,
	[Cinemax_pkg_qv] [int] NULL,
	[Showtime_SA] [int] NULL,
	[Showtime_QV] [int] NULL,
	[Starz_SA] [int] NULL,
	[Starz_QV] [int] NULL,
	[IsHispanic] [int] NULL,
	[IsFreeHD] [int] NULL,
	[IsRF] [int] NULL,
	[IsIPTV] [int] NULL,
	[IsCableManual] [int] NULL,
	[IsPromo] [int] NULL,
	[IsNRC_Scheduling] [int] NULL,
	[IsOther] [int] NULL,
	[Category] [nvarchar](50) NULL,
	[IsIgnored] [int] NULL,
	[IsUsed] [int] NULL,
	[IsSportsTier] [int] NULL,
	[IsComplexPhn] [int] NULL,
	[IsTaxOrFee] [int] NULL,
	[IsEmployee] [int] NULL
) ON [PRIMARY]
GO
