USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimWirelessMIN]    Script Date: 12/5/2023 4:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimWirelessMIN](
	[DimWirelessMINId] [int] IDENTITY(1,1) NOT NULL,
	[WirelessMINID] [int] NOT NULL,
	[WirelessMIN] [varchar](20) NOT NULL,
	[WirelessMINStatus] [char](1) NOT NULL,
	[WirelessMINEffectiveDate] [smalldatetime] NULL,
	[WirelessESN] [varchar](21) NOT NULL,
	[WirelessMEID] [varchar](19) NOT NULL,
	[WirelessMBICode] [varchar](20) NOT NULL,
	[WirelessMBI] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DimWirelessMINId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[WirelessMINID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
