USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimDate_PBB]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimDate_PBB](
	[DateKey] [bigint] NOT NULL,
	[Date] [date] NULL,
	[DayOfWeekNumber] [bigint] NULL,
	[DayOfMonthNumber] [bigint] NULL,
	[DayOfQuarterNumber] [bigint] NULL,
	[DayOfYearNumber] [bigint] NULL,
	[DayAlltimeNumber] [bigint] NULL,
	[DayOfWeekName] [varchar](100) NULL,
	[DayOfWeekShortName] [varchar](50) NULL,
	[PreviousDayDate] [date] NULL,
	[SameWeekdayYearAgoDate] [date] NULL,
	[WeekOfMonthNumber] [bigint] NULL,
	[WeekOfQuarterNumber] [bigint] NULL,
	[WeekOfYearNumber] [bigint] NULL,
	[WeekAlltimeNumber] [bigint] NULL,
	[MonthOfYearNumber] [bigint] NULL,
	[MonthAlltimeNumber] [bigint] NULL,
	[MonthName] [varchar](100) NULL,
	[MonthShortName] [varchar](50) NULL,
	[MonthStartDate] [date] NULL,
	[MonthEndDate] [date] NULL,
	[QuarterOfYearNumber] [bigint] NULL,
	[QuarterAlltimeNumber] [bigint] NULL,
	[QuarterName] [varchar](100) NULL,
	[QuarterShortName] [varchar](50) NULL,
	[QuarterStartDate] [date] NULL,
	[QuarterEndDate] [date] NULL,
	[YearNumber] [bigint] NULL,
	[YearStartDate] [date] NULL,
	[YearEndDate] [date] NULL,
	[yyyymm] [varchar](90) NULL,
	[FiscalWeekName] [varchar](100) NULL,
	[FiscalWeekStartDate] [date] NULL,
	[FiscalWeekEndDate] [date] NULL,
	[FiscalWeekNumber] [bigint] NULL,
	[FiscalWeekAlltimeNumber] [bigint] NULL,
	[FiscalMonthStartDate] [date] NULL,
	[FiscalMonthEndDate] [date] NULL,
	[FiscalMonthNumber] [bigint] NULL,
	[FiscalMonthAlltimeNumber] [bigint] NULL,
	[FiscalMonthName] [varchar](100) NULL,
	[FiscalMonthShortName] [varchar](50) NULL,
	[FiscalQuarterStartDate] [date] NULL,
	[FiscalQuarterEndDate] [date] NULL,
	[FiscalQuarterNumber] [bigint] NULL,
	[FiscalQuarterName] [varchar](100) NULL,
	[FiscalQuarterShortName] [varchar](50) NULL,
	[FiscalQuarterAlltimeNumber] [bigint] NULL,
	[FiscalYearNumber] [bigint] NULL,
	[FiscalYearStartDate] [date] NULL,
	[FiscalYearEndDate] [date] NULL,
	[FiscalYearAlltimeNumber] [bigint] NULL,
	[WeekdayFlag] [char](1) NULL,
	[WeekendFlag] [char](1) NULL,
	[UsHolidayFlag] [char](1) NULL,
	[LastDayOfWeekFlag] [char](1) NULL,
	[LastDayOfMonthFlag] [char](1) NULL,
	[LastDayOfQuarterFlag] [char](1) NULL,
	[LeapYearFlag] [char](1) NULL,
	[LastDayOfYearFlag] [char](1) NULL,
	[LastDayOfFiscalMonthFlag] [char](1) NULL,
	[LastDayOfFiscalQuarterFlag] [char](1) NULL,
	[LastDayOfFiscalYearFlag] [char](1) NULL,
	[MetaSourceSystemCode] [varchar](100) NOT NULL,
	[MetaInsertDatetime] [datetime] NOT NULL,
	[MetaUpdateDatetime] [datetime] NOT NULL,
	[MetaOperationCode] [varchar](100) NOT NULL,
	[MetaDataQualityStatusId] [int] NULL,
	[MetaEtlProcessId] [int] NOT NULL
) ON [PRIMARY]
GO
