USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimSimCard]    Script Date: 12/5/2023 4:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimSimCard](
	[DimSimCardId] [int] IDENTITY(1,1) NOT NULL,
	[SIMCardID] [int] NOT NULL,
	[SimCardIMSI] [varchar](24) NOT NULL,
	[SimCardSerialNumber] [varchar](20) NOT NULL,
	[SimCardStatus] [char](1) NOT NULL,
	[SimCardUploadDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimSimCardId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SIMCardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
