USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimInternet]    Script Date: 12/5/2023 4:42:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimInternet](
	[DimInternetId] [int] IDENTITY(1,1) NOT NULL,
	[UserNameID] [int] NOT NULL,
	[InternetUserName] [varchar](80) NOT NULL,
	[InternetDomain] [varchar](80) NOT NULL,
	[InternetPassword] [varchar](40) NOT NULL,
	[InternetStartDate] [smalldatetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[DimInternetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserNameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
