USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimArItem]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimArItem](
	[DimArItemId] [int] IDENTITY(1,1) NOT NULL,
	[ItemID] [int] NOT NULL,
	[ArItem] [varchar](40) NOT NULL,
	[ArItemCode] [char](7) NOT NULL,
	[ArItemCategory] [nvarchar](40) NOT NULL,
	[ArItemGLAccount] [varchar](40) NOT NULL,
	[ArItemGLAccountNumber] [varchar](30) NOT NULL,
	[ArItemGLSubAccountNumber] [varchar](15) NOT NULL,
	[ArItemGLCompanyCode] [char](10) NOT NULL,
	[ArItemGLCompany] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DimArItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
