USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimCustomerOCC]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimCustomerOCC](
	[DimCustomerOCCId] [int] IDENTITY(1,1) NOT NULL,
	[AdjustmentID] [int] NOT NULL,
	[OCCDescription] [varchar](200) NOT NULL,
	[OCCTaxArea] [varchar](40) NOT NULL,
	[OCCReportArea] [varchar](40) NOT NULL,
	[OCCExemptionType] [varchar](40) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DimCustomerOCCId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AdjustmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
