USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[september_ph]    Script Date: 12/5/2023 4:43:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[september_ph](
	[Account Code] [varchar](150) NULL,
	[Project Name] [varchar](150) NULL,
	[Cabinet] [varchar](150) NULL,
	[Market Type] [varchar](150) NULL,
	[Wirecenter Region] [varchar](150) NULL,
	[Full Address] [varchar](150) NULL,
	[Serviceability] [varchar](150) NULL,
	[Serviceable Date] [varchar](150) NULL,
	[Created On] [varchar](150) NULL,
	[Created By] [varchar](150) NULL,
	[Fund Type] [varchar](150) NULL,
	[Fund Type ID] [varchar](150) NULL,
	[Omnia Location ID] [varchar](150) NULL,
	[Account Location Status] [varchar](150) NULL,
	[Activation Date] [varchar](150) NULL,
	[Deactivation Date] [varchar](150) NULL,
	[Account Type] [varchar](150) NULL,
	[Account Group] [varchar](150) NULL,
	[Column 19] [varchar](150) NULL,
	[Column 20] [varchar](150) NULL,
	[Account Name] [varchar](150) NULL,
	[Billing Year] [varchar](150) NULL,
	[Billing Month] [varchar](150) NULL,
	[MRC] [varchar](150) NULL,
	[Promotion Amount] [varchar](150) NULL,
	[Discount Amount] [varchar](150) NULL,
	[Net] [varchar](150) NULL,
	[Service Address1] [varchar](150) NULL,
	[Service Address2] [varchar](150) NULL,
	[City] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[Postal Code] [varchar](150) NULL,
	[Column 33] [varchar](150) NULL,
	[Right of Project] [varchar](150) NULL,
	[Right of Cabinet] [varchar](150) NULL,
	[Difference] [varchar](150) NULL
) ON [PRIMARY]
GO
