USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[PBB_CensusBlockCode_2020]    Script Date: 12/5/2023 4:43:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[PBB_CensusBlockCode_2020](
	[blockcode] [char](15) NULL
) ON [PRIMARY]
GO
