USE [PBBPDW01]
GO
/****** Object:  Table [zzz].[DimAccountSet]    Script Date: 12/5/2023 4:42:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [zzz].[DimAccountSet](
	[DimAccountSetId] [int] IDENTITY(1,1) NOT NULL,
	[AccountSetId] [int] NOT NULL,
	[MainSubIndicator] [varchar](1) NOT NULL,
	[SetName] [varchar](40) NOT NULL,
	[MainRequired] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DimAccountSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[AccountSetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
